.tox-dialog{
    position: relative;
}

.tox-dialog__table {
    border-collapse: collapse;
    thead {
        th{
            color: rgba(34, 47, 62, 0.6);
            font-weight: bold;
            padding-top: 2%;
            padding-bottom: 2%;
        }
        tr{
            border-bottom: none;
        }
    }

    tbody {
        tr:last-child {
            border-bottom: none;
        } 
    }
    td {
        color: rgba(34, 47, 62, 0.6);
        padding-top: 2%;
        padding-bottom: 2%;
    }
    tr {
        border-bottom: 1px solid #CCC;
    }
}