//
// Uploadcare
//

@uploadcare-toolbar-button-remove-color: @image-selector-remove-color-stroke-color;

[data-mce-name="uploadcare-enhance-filter"] .color-swatch-remove-color path {
  fill: @uploadcare-toolbar-button-remove-color;
  stroke: @uploadcare-toolbar-button-remove-color;
}
