@import '../../../theme/theme';

@color-active: @color-tint;
@content-background-color: @color-black;

//
// Place your HTML here
//

body {
  background-color: @content-background-color;
  color: @content-text-color;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.4;
  margin: 1rem;
}

a {
  color: #4099ff;
}

table {
  border-collapse: collapse;
}

/* Apply a default padding if legacy cellpadding attribute is missing */
table:not([cellpadding]) th,
table:not([cellpadding]) td {
  padding: .4rem;
}

/* Set default table styles if a table has a positive border attribute
   and no inline css */
table[border]:not([border="0"]):not([style*="border-width"]) th,
table[border]:not([border="0"]):not([style*="border-width"]) td {
  border-width: 1px;
}

/* Set default table styles if a table has a positive border attribute
   and no inline css */
table[border]:not([border="0"]):not([style*="border-style"]) th,
table[border]:not([border="0"]):not([style*="border-style"]) td {
  border-style: solid;
}

/* Set default table styles if a table has a positive border attribute
   and no inline css */
table[border]:not([border="0"]):not([style*="border-color"]) th,
table[border]:not([border="0"]):not([style*="border-color"]) td {
  border-color: #6d737b;
}

figure {
  display: table;
  margin: 1rem auto;
}

figure figcaption {
  color: #8a8f97;
  display: block;
  margin-top: .25rem;
  text-align: center;
}

hr {
  border-color: #6d737b;
  border-style: solid;
  border-width: 1px 0 0 0;
}

code {
  background-color: #6d737b;
  border-radius: 3px;
  padding: .1rem .2rem;
}

.mce-content-body:not([dir=rtl]) {
  blockquote {
    border-left: 2px solid #6d737b;
    margin-left: 1.5rem;
    padding-left: 1rem;
  }
}

// RTL
.mce-content-body[dir=rtl] {
  blockquote {
    border-right: 2px solid #6d737b;
    margin-right: 1.5rem;
    padding-right: 1rem;
  }
}
//
// Comments
//

@document-comment-background-color: contrast(@content-text-color, lighten(@color-active, 20%), mix(@color-active, @color-black, 20%)); 
@document-comment-active-background-color: @document-comment-background-color;
@document-comment-outline-color: @color-active;
@document-comment-active-outline-color: @color-active;

.tox-comments-visible {
  .tox-comment[contenteditable="false"],
  span.tox-comment img,
  span.tox-comment > audio,
  span.tox-comment > video,
  span.tox-comment span.mce-preview-object {
    &:not([data-mce-selected]) {
      outline-color: @document-comment-outline-color;
    }
  }

  .tox-comment[contenteditable="false"][data-mce-annotation-active="true"] {
    &:not([data-mce-selected]) {
      outline-color: @document-comment-active-outline-color;
    }
  }

  span.tox-comment[data-mce-annotation-active="true"] {
    & img,
    & > audio,
    & > video,
    & span.mce-preview-object {
      &:not([data-mce-selected]) {
        outline-color: @document-comment-active-outline-color;
      }
    }
  }

  span.tox-comment:not([data-mce-selected]) {
    background-color: @document-comment-background-color;
  }

  span.tox-comment[data-mce-annotation-active="true"]:not([data-mce-selected="inline-boundary"]) {
    background-color: @document-comment-active-background-color;
  }

  span.tox-comment[data-mce-selected] {
    background-color: @document-comment-active-background-color;
    box-shadow: 0 0 0 2px @keyboard-focus-outline-color;
  }
}
