@media print {
  .mce-content-body {
    .mce-placeholder,
    [data-mce-bogus=all],
    [data-mce-bogus] {
      display: none !important;
    }

    .mce-visual-caret {
      display: none !important;
    }

    [data-mce-selected],
    *:focus,
    .mce-edit-focus {
      outline: none !important;
    }
  }
}