.tox-floating-sidebar {
  width: min-content;
  height: 500px;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  position: absolute;
  z-index: 100000000;
}

.tox-floating-sidebar__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: grab;
}

.tox-floating-sidebar__content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e3e3e3;
}