body {
    margin-top: 0;
    margin-bottom: 0;
    font-family: Trebuchet MS, Verdana, Arial, Sans-serif;
    color: #000;
    font-size: 0.8em;
}

.button {
    color: #000000;
    font-family: 'trebuchet ms', helvetica, sans-serif;
    font-size: 100%;
    font-weight: bold;
    background-color: #dddddd;
    border: 1px solid;
    border-top-color: #696;
    border-left-color: #696;
    border-right-color: #363;
    border-bottom-color: #363;
}

table {
    font-size: 1em;
}

a:link, a:visited {
    color: #0000AA;
    text-decoration: underline;
}

a:hover {
    color: #810;
    text-decoration: underline;
}

h1 {
    font-size: 1.2em;
    font-weight: bold;
    color: #039;
    font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
}

h2 {
    font-weight: bold;
    color: #039;
    font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
}

h3 {
    font-weight: bold;
    color: #039;
    text-decoration: underline;
    font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
}

h4 {
    color: #039;
    font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
    font-size: 1em;
}

.jsUnitTestResultSuccess {
    color: #000;
}

.jsUnitTestResultNotSuccess {
    color: #F00;
}

.rb0roundbox {
    background: url( ../images/nt0.gif ) repeat;
}

.rb0top div {
    background: url( ../images/tl0.gif ) no-repeat top left;
}

.rb0top {
    background: url( ../images/tr0.gif ) no-repeat top right;
}

.rb0bot div {
    background: url( ../images/bl0.gif ) no-repeat bottom left;
}

.rb0bot {
    background: url( ../images/br0.gif ) no-repeat bottom right;
}

.rb0top div, .rb0top, .rb0bot div, .rb0bot {
    width: 100%;
    height: 7px;
    font-size: 1px;
}

.rb0content {
    margin: 0 7px;
}

.rb0roundbox {
    width: 100%;
    margin: 4px auto;
}
