/* This is used to put the menu underneath the button so 
   it can appear from within
 */
@tinymce-mobile-mask-menu-zindex: 1;

.mixin-selected-menu-item {
  color: #4682B4;
  background-color: white;
}

.tinymce-mobile-mask-menu-sink {
  z-index: @tinymce-mobile-mask-menu-zindex;

  [role="menu"] {
    .tinymce-mobile-mask-menu-item {
      &.tinymce-mobile-mask-menu-item-selected {
        .mixin-selected-menu-item;
      }

      margin-top: 3em;
      background-color: #4682B4;
      border-radius: 50%;

      width: @mask-button-size;
      height: @mask-button-size;

      display: flex;
      justify-content: center;
      align-items: center;

      & > span {
        border-radius: 50%;
    
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

&:not(.tinymce-mobile-mask-button-active)[data-mode="icon"] .tinymce-mobile-mask-tap-icon {
  background-image: url('../icons/tinymce-logo2-blue.svg');
  background-size: cover;
  background-color: transparent;
}

&[data-mode="view"] .tinymce-mobile-mask-tap-icon:before,
  &.tinymce-mobile-mask-button-active[data-mode="icon"] .tinymce-mobile-mask-tap-icon:before {
  content: "View";
}

&[data-mode="edit"] .tinymce-mobile-mask-tap-icon:before {
  content: "Edit";
}

.tinymce-mobile-mask-tap-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  background: #4682B4;
  color: white;
  z-index: @tinymce-mobile-mask-menu-zindex + 1;
  width: @mask-button-size;
  height: @mask-button-size;
  border-radius: 50%;

  &.tinymce-mobile-mask-tap-icon-selected {
    .mixin-selected-menu-item;
  }
}

[data-longpress-state="closed"]:not(.longpress-menu-transitioning) [role="menu"] {
  transform: translateY(-100%);
}

[data-longpress-state="open"][data-longpress-destination="closed"] [role="menu"] {
  transform: translateY(-100%);
}

[data-longpress-state="closed"][data-longpress-destination="open"] [role="menu"] {
  transform: translateY(0%);
}     

.longpress-menu-transitioning [role="menu"] {
  transition: transform 0.3s ease-in-out;
}







// .tinymce-mobile-mask-tap-icon.tinymce-mobile-view-mode-hovered {
//   .mixin-selected-orb;
// }

// &.selected .tinymce-mobile-mask-tap-icon {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// &:not(.selected) .tinymce-mobile-mask-tap-icon[data-mode]:before {
//   content: attr(data-mode);
// }

// .tinymce-mobile-mask-tap-icon {
//   width: @mask-button-size;
//   height: @mask-button-size;
//   border-radius: 50%;
// }