@toolstrip-background-color: rgb(240,240,240);
@toolstrip-foreground-color: rgb(51,51,51);
@toolstrip-dark-background-color: darken(@toolstrip-background-color, 20%);
@toolstrip-input-background-color: lighten(@toolstrip-background-color, 20%);
@toolstrip-input-foreground-color: @toolstrip-foreground-color;
@toolstrip-input-placeholder-foreground-color: darken(@toolstrip-input-foreground-color, 10%);
@toolstrip-button-selected-background-color: rgb(219,219,219);

@editor-mask-background-color: #333;
@editor-mask-foreground-color: #eee;

@import "icons.css";
@import "mask.less";
@import "android.less";
@import "../toolstrip/toolstrip.less";

@font-face {
  font-family: 'tinymce-mobile';
  src: url('../icons/tinymce-mobile.woff?8x92w3') format('woff');
  font-weight: normal;
  font-style: normal;
}

@media (min-width: 700px) {
  body, body input {
    font-size: 25px;
  }
}

@media (max-width: 700x) {
  body, body input {
    font-size: 18px;
  }
}

.mixin-flex-bar {
  display: flex;
  align-items: center;
  height: 100%;
}

input[type="file"]::-webkit-file-upload-button {
  display: none;
}

