* @tinymce/editor-platform-team @spocke @metricjs @lnewson @ltrouton @HAFRMO @ashfordneil @SimonFc @JamesToohey

# Oxide changes should include the design team as well
/modules/oxide/ @tinymce/editor-platform-team @lostkeys @spocke @metricjs @lnewson @ltrouton @HAFRMO @ashfordneil @SimonFc @JamesToohey
/modules/oxide-icons-default/ @tinymce/editor-platform-team @lostkeys @spocke @metricjs @lnewson @ltrouton @HAFRMO @ashfordneil @SimonFc @JamesToohey
