* @spocke @metricjs @lnewson @ltrouton @HAFRMO @ashfordneil

# Oxide changes should include the design team as well
/modules/oxide/ @lostkeys @spocke @metricjs @lnewson @ltrouton @HAFRMO @ashfordneil
/modules/oxide-icons-default/ @lostkeys @spocke @metricjs @lnewson @ltrouton @HAFRMO @ashfordneil
