//
// Autocomplete
//

.tox {
  // cap the width of the autocompleter for horizontal cases e.g. emoji picker
  .tox-autocompleter {
    max-width: 25em;
  }

  .tox-autocompleter .tox-menu {
    box-sizing: border-box;
    max-width: 25em;
  }

  .tox-autocompleter .tox-autocompleter-highlight {
    font-weight: @font-weight-bold;
  }
}
