@custom-preview-border-color: @border-color;
@custom-preview-border-radius: @control-border-radius;
@custom-preview-border-width: 1px;

.tox {
  .tox-custom-preview {
    border-color: @custom-preview-border-color;
    border-radius: @custom-preview-border-radius;
    border-style: solid;
    border-width: @custom-preview-border-width;
    flex: 1;
    padding: @pad-sm;
  }
}
