//
// (Aspect ratio) Lock
//

.tox {
  .tox-lock.tox-locked .tox-lock-icon__unlock,
  .tox-lock:not(.tox-locked) .tox-lock-icon__lock {
    display: none;
  }

  .tox-context-form__group .tox-button--icon.tox-lock-context-form-size-input {
    margin-left: @pad-sm;
    margin-right: @pad-sm;
  }
}
