//
// Textarea
//

.tox {
  .tox-textarea-wrap {
    border-color: @textfield-border-color;
    border-radius: @textfield-border-radius;
    border-style: @textfield-border-style;
    border-width: @textfield-border-width;
    display: flex;
    flex: 1;

    // This is needed to clip the scrollbars by the border-radius see #TINY-9331
    overflow: hidden;

    &:focus-within {
      &:extend(.tox .tox-textfield:focus);
    }
  }

  .tox-textarea {
    &:extend(.tox .tox-textfield);

    // restore appearance for scrollbars
    appearance: textarea;

    // Remove border that gets imported from tox-textfield since that is applied by to the wrapper element
    border: none;

    // This is required to allow white-spaces and new lines within textareas in Firefox
    white-space: pre-wrap;
  }

  .tox-textarea[disabled] {
    &:extend(.tox .tox-textfield[disabled]);
  }
}
