.DS_Store
*~
*.iws
*.sublime-workspace
/lib
/dist
/scratch
/gen
/dependency
/config/bolt/bootstrap*.js
/inconsistent.dependencies
/spike.build
node_modules/
npm-debug.log
.idea/
/npm_output

package-lock.json

jenkins-plumbing