* eol=lf
*.jar binary
*.gif binary
*.png binary
*.jpg binary
*.swf binary
*.xap binary
*.zip binary
*.eot binary
*.woff binary
*.ttf binary
*.mov binary
*.avi binary
*.flv binary
*.rm binary
*.dcr binary
*.sketch binary
modules/oxide-components/src/test/ts/visual.spec.ts-snapshots/*.png filter=lfs diff=lfs merge=lfs -text
