bin
obj
tmp
.settings
.idea
.project
*.sublime-*
.externalToolBuilders
*~
*.diff
*.patch
*.bak
*.log
*.swp
.DS_Store
.project
node_modules
js/tinymce/tinymce.js
js/tinymce/tinymce.jquery.js
js/tinymce/plugins/table/plugin.js
js/tinymce/plugins/spellchecker/plugin.js
js/tinymce/plugins/paste/plugin.js
js/tinymce/plugins/imagetools/plugin.js
js/tinymce/plugins/codesample/plugin.js
js/tinymce/themes/inlite/theme.js
imagemanager
filemanager
mcmanager
powerpaste
tinymcespellchecker
a11ychecker
codemirror
mentions
*.min.js
*.dev.js
*.full.js
*.min.css
*.dev.less
skin.less
skin.ie7.less
skin.ie7.dev.less
**/bolt/bootstrap*.js
**/dist
**/scratch
**/lib
**/dependency
