/scratch
/dist
/config
/src/test
/src/demo
.DS_Store
*~
*.iws
*.sublime-*
/.vscode
/lib
/gen
/dependency
/npm_output
/config/bolt/bootstrap*.js
/inconsistent.dependencies
/*.log
Jenkinsfile
yarn.lock
.editorconfig
