.DS_Store
*~
*.sublime-*
/config
/src/demo
/src/test
/dist
/scratch
/gen
/dependency
/npm_output
/config/bolt/bootstrap*.js
/inconsistent.dependencies
/spike.build
node_modules
Gruntfile.js
.npmignore
