<?xml version="1.0" encoding="ISO-8859-1"?>
<jstrim> <!-- modes: low, high, docs (high is CPU intensive on the client) -->
	<!-- Merge classes to src and only remove documentation comments -->
	<trim mode="docs" dest="jscripts/tiny_mce/tiny_mce_tmp.js" defines="jquery_adapter,prototype_adapter">
		<add src="jscripts/tiny_mce/classes/tinymce.js" />
		<add src="jscripts/tiny_mce/classes/adapter/jquery/adapter.js" />
		<add src="jscripts/tiny_mce/classes/adapter/prototype/adapter.js" />
		<add src="jscripts/tiny_mce/classes/util/Dispatcher.js" />
		<add src="jscripts/tiny_mce/classes/util/URI.js" />
		<add src="jscripts/tiny_mce/classes/util/Cookie.js" />
		<add src="jscripts/tiny_mce/classes/util/JSON.js" />
		<add src="jscripts/tiny_mce/classes/util/XHR.js" />
		<add src="jscripts/tiny_mce/classes/util/JSONRequest.js" />
		<add src="jscripts/tiny_mce/classes/dom/DOMUtils.js" />
		<add src="jscripts/tiny_mce/classes/dom/Event.js" />
		<add src="jscripts/tiny_mce/classes/dom/Element.js" />
		<add src="jscripts/tiny_mce/classes/dom/Selection.js" />
		<add src="jscripts/tiny_mce/classes/dom/XMLWriter.js" />
		<add src="jscripts/tiny_mce/classes/dom/StringWriter.js" />
		<add src="jscripts/tiny_mce/classes/dom/Serializer.js" />
		<add src="jscripts/tiny_mce/classes/dom/ScriptLoader.js" />
		<add src="jscripts/tiny_mce/classes/ui/Control.js" />
		<add src="jscripts/tiny_mce/classes/ui/Container.js" />
		<add src="jscripts/tiny_mce/classes/ui/Separator.js" />
		<add src="jscripts/tiny_mce/classes/ui/MenuItem.js" />
		<add src="jscripts/tiny_mce/classes/ui/Menu.js" />
		<add src="jscripts/tiny_mce/classes/ui/DropMenu.js" />
		<add src="jscripts/tiny_mce/classes/ui/Button.js" />
		<add src="jscripts/tiny_mce/classes/ui/ListBox.js" />
		<add src="jscripts/tiny_mce/classes/ui/NativeListBox.js" />
		<add src="jscripts/tiny_mce/classes/ui/MenuButton.js" />
		<add src="jscripts/tiny_mce/classes/ui/SplitButton.js" />
		<add src="jscripts/tiny_mce/classes/ui/ColorSplitButton.js" />
		<add src="jscripts/tiny_mce/classes/ui/Toolbar.js" />
		<add src="jscripts/tiny_mce/classes/AddOnManager.js" />
		<add src="jscripts/tiny_mce/classes/EditorManager.js" />
		<add src="jscripts/tiny_mce/classes/Editor.js" />
		<add src="jscripts/tiny_mce/classes/EditorCommands.js" />
		<add src="jscripts/tiny_mce/classes/UndoManager.js" />
		<add src="jscripts/tiny_mce/classes/ForceBlocks.js" />
		<add src="jscripts/tiny_mce/classes/ControlManager.js" />
		<add src="jscripts/tiny_mce/classes/WindowManager.js" />
	</trim>

	<!-- Trim core script use default mode from root element -->
	<trim mode="docs" src="jscripts/tiny_mce/tiny_mce_tmp.js" dest="jscripts/tiny_mce/tiny_mce_src.js" />
	<trim src="jscripts/tiny_mce/tiny_mce_src.js" dest="jscripts/tiny_mce/tiny_mce.js" />
	<trim src="jscripts/tiny_mce/tiny_mce_tmp.js" dest="jscripts/tiny_mce/tiny_mce_jquery.js" defines="jquery,jquery_adapter" />
	<trim src="jscripts/tiny_mce/tiny_mce_tmp.js" dest="jscripts/tiny_mce/tiny_mce_prototype.js" defines="prototype,prototype_adapter" />
	<del src="jscripts/tiny_mce/tiny_mce_tmp.js" />

	<!-- Trim popup script and only remove documentation comments -->
	<trim mode="docs" src="jscripts/tiny_mce/classes/Popup.js" dest="jscripts/tiny_mce/tiny_mce_popup.js" />

	<!-- Trim themes -->
	<trim src="jscripts/tiny_mce/themes/simple/editor_template_src.js" dest="jscripts/tiny_mce/themes/simple/editor_template.js" />
	<trim src="jscripts/tiny_mce/themes/advanced/editor_template_src.js" dest="jscripts/tiny_mce/themes/advanced/editor_template.js" />

	<!-- Trim plugins -->
	<trim src="jscripts/tiny_mce/plugins/advhr/editor_plugin_src.js" dest="jscripts/tiny_mce/plugins/advhr/editor_plugin.js" />
	<trim src="jscripts/tiny_mce/plugins/advimage/editor_plugin_src.js" dest="jscripts/tiny_mce/plugins/advimage/editor_plugin.js" />
	<trim src="jscripts/tiny_mce/plugins/advlink/editor_plugin_src.js" dest="jscripts/tiny_mce/plugins/advlink/editor_plugin.js" />
	<trim src="jscripts/tiny_mce/plugins/emotions/editor_plugin_src.js" dest="jscripts/tiny_mce/plugins/emotions/editor_plugin.js" />
	<trim src="jscripts/tiny_mce/plugins/example/editor_plugin_src.js" dest="jscripts/tiny_mce/plugins/example/editor_plugin.js" />
	<trim src="jscripts/tiny_mce/plugins/flash/editor_plugin_src.js" dest="jscripts/tiny_mce/plugins/flash/editor_plugin.js" />
	<trim src="jscripts/tiny_mce/plugins/iespell/editor_plugin_src.js" dest="jscripts/tiny_mce/plugins/iespell/editor_plugin.js" />
	<trim src="jscripts/tiny_mce/plugins/insertdatetime/editor_plugin_src.js" dest="jscripts/tiny_mce/plugins/insertdatetime/editor_plugin.js" />
	<trim src="jscripts/tiny_mce/plugins/preview/editor_plugin_src.js" dest="jscripts/tiny_mce/plugins/preview/editor_plugin.js" />
	<trim src="jscripts/tiny_mce/plugins/print/editor_plugin_src.js" dest="jscripts/tiny_mce/plugins/print/editor_plugin.js" />
	<trim src="jscripts/tiny_mce/plugins/save/editor_plugin_src.js" dest="jscripts/tiny_mce/plugins/save/editor_plugin.js" />
	<trim src="jscripts/tiny_mce/plugins/searchreplace/editor_plugin_src.js" dest="jscripts/tiny_mce/plugins/searchreplace/editor_plugin.js" />
	<trim src="jscripts/tiny_mce/plugins/zoom/editor_plugin_src.js" dest="jscripts/tiny_mce/plugins/zoom/editor_plugin.js" />
	<trim src="jscripts/tiny_mce/plugins/table/editor_plugin_src.js" dest="jscripts/tiny_mce/plugins/table/editor_plugin.js" />
	<trim src="jscripts/tiny_mce/plugins/contextmenu/editor_plugin_src.js" dest="jscripts/tiny_mce/plugins/contextmenu/editor_plugin.js" />
	<trim src="jscripts/tiny_mce/plugins/paste/editor_plugin_src.js" dest="jscripts/tiny_mce/plugins/paste/editor_plugin.js" />
	<trim src="jscripts/tiny_mce/plugins/fullscreen/editor_plugin_src.js" dest="jscripts/tiny_mce/plugins/fullscreen/editor_plugin.js" />
	<trim src="jscripts/tiny_mce/plugins/directionality/editor_plugin_src.js" dest="jscripts/tiny_mce/plugins/directionality/editor_plugin.js" />
	<trim src="jscripts/tiny_mce/plugins/inlinepopups/editor_plugin_src.js" dest="jscripts/tiny_mce/plugins/inlinepopups/editor_plugin.js" />
	<trim src="jscripts/tiny_mce/plugins/autosave/editor_plugin_src.js" dest="jscripts/tiny_mce/plugins/autosave/editor_plugin.js" />
	<trim src="jscripts/tiny_mce/plugins/noneditable/editor_plugin_src.js" dest="jscripts/tiny_mce/plugins/noneditable/editor_plugin.js" />
	<trim src="jscripts/tiny_mce/plugins/fullpage/editor_plugin_src.js" dest="jscripts/tiny_mce/plugins/fullpage/editor_plugin.js" />
	<trim src="jscripts/tiny_mce/plugins/cleanup/editor_plugin_src.js" dest="jscripts/tiny_mce/plugins/cleanup/editor_plugin.js" />
	<trim src="jscripts/tiny_mce/plugins/_template/editor_plugin_src.js" dest="jscripts/tiny_mce/plugins/_template/editor_plugin.js" />
	<trim src="jscripts/tiny_mce/plugins/layer/editor_plugin_src.js" dest="jscripts/tiny_mce/plugins/layer/editor_plugin.js" />
	<trim src="jscripts/tiny_mce/plugins/style/editor_plugin_src.js" dest="jscripts/tiny_mce/plugins/style/editor_plugin.js" />
	<trim src="jscripts/tiny_mce/plugins/media/editor_plugin_src.js" dest="jscripts/tiny_mce/plugins/media/editor_plugin.js" />
	<trim src="jscripts/tiny_mce/plugins/visualchars/editor_plugin_src.js" dest="jscripts/tiny_mce/plugins/visualchars/editor_plugin.js" />
	<trim src="jscripts/tiny_mce/plugins/nonbreaking/editor_plugin_src.js" dest="jscripts/tiny_mce/plugins/nonbreaking/editor_plugin.js" />
	<trim src="jscripts/tiny_mce/plugins/xhtmlxtras/editor_plugin_src.js" dest="jscripts/tiny_mce/plugins/xhtmlxtras/editor_plugin.js" />
	<trim src="jscripts/tiny_mce/plugins/devkit/editor_plugin_src.js" dest="jscripts/tiny_mce/plugins/devkit/editor_plugin.js" />
	<trim src="jscripts/tiny_mce/plugins/template/editor_plugin_src.js" dest="jscripts/tiny_mce/plugins/template/editor_plugin.js" />
	<trim src="jscripts/tiny_mce/plugins/bbcode/editor_plugin_src.js" dest="jscripts/tiny_mce/plugins/bbcode/editor_plugin.js" />
	<trim src="jscripts/tiny_mce/plugins/safari/editor_plugin_src.js" dest="jscripts/tiny_mce/plugins/safari/editor_plugin.js" />
	<trim src="jscripts/tiny_mce/plugins/compat2x/editor_plugin_src.js" dest="jscripts/tiny_mce/plugins/compat2x/editor_plugin.js" />
	<trim src="jscripts/tiny_mce/plugins/pagebreak/editor_plugin_src.js" dest="jscripts/tiny_mce/plugins/pagebreak/editor_plugin.js" />
	<trim src="jscripts/tiny_mce/plugins/spellchecker/editor_plugin_src.js" dest="jscripts/tiny_mce/plugins/spellchecker/editor_plugin.js" />
</jstrim>
