//
// Anchorbar
// An element that lives underneath the toolbar so that we have
// something on the page, which is 0px thick, so invisible, that
// we can measure so we can put elements like the notification
// banner and inline dialogs below it.
//

.tox {
  .tox-anchorbar {
    display: flex;
    flex: 0 0 auto;
  }

  .tox-bottom-anchorbar {
    display: flex;
    flex: 0 0 auto;
  }
}
