/* Generic */
body {
font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px;
padding:0;
margin:8px 8px 0 8px;
}

body.forceColors {
background:#F0F0EE;
color:#000;
scrollbar-3dlight-color:#F0F0EE;
scrollbar-arrow-color:#676662;
scrollbar-base-color:#F0F0EE;
scrollbar-darkshadow-color:#DDDDDD;
scrollbar-face-color:#E0E0DD;
scrollbar-highlight-color:#F0F0EE;
scrollbar-shadow-color:#F0F0EE;
scrollbar-track-color:#F5F5F5;
}

td {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px;}
textarea {resize:none;outline:none;}
body.forceColors a:link, body.forceColors a:visited {color:black;background-color:transparent;}
body.forceColors a:hover {color:#2B6FB6;background-color:transparent;}
.nowrap {white-space: nowrap}

/* Forms */
fieldset {margin:0; padding:4px; border:1px solid; font-family:Verdana, Arial; font-size:10px;}
body.forceColors fieldset {border-color:#919B9C}
body.forceColors legend {color:#2B6FB6;}
legend {font-weight:bold;}
label.msg {display:none;}
label.invalid {color:#EE0000; display:inline;}
input.invalid {border:1px solid #EE0000;}
input {border:1px solid;}
body.forceColors input {background:#FFF;border-color:#CCC}
input, select, textarea {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px;border:1px solid;}
body.forceColors input, body.forceColors select, body.forceColors textarea {border-color: #808080;}
body.forceColors input.radio {border:1px none #000000; background:transparent;}
body.forceColors input.checkbox {border:1px none #000000; background:transparent;}
input.checkbox, input.radio {vertical-algin:middle}
.input_noborder {border:0;}

/* Buttons */
#insert, #cancel, input.button, .updateButton {
border:0; padding:0;
font-weight:bold;
width:94px; height:26px;
cursor:pointer;
padding-bottom:2px;
margin: 0 2px;
float:left;
}
body.forceColors #insert, body.forceColors #cancel, body.forceColors input.button, body.forceColors .updateButton {
background:url(img/buttons.png) 0 -26px;
margin: 0;
}

body.forceColors #insert {background:url(img/buttons.png) 0 -52px}
body.forceColors #cancel {background:url(img/buttons.png) 0 0}
#cancel{float:right}

/* Browse */
a.pickcolor, a.browse {text-decoration:none}
a.browse span {display:block; width:20px; height:18px; background:url(img/icons.gif) -860px 0; border:1px solid #FFF; margin-left:1px;}
.mceOldBoxModel a.browse span {width:22px; height:20px;}
a.browse:hover span {border:1px solid #0A246A; background-color:#B2BBD0;}
a.browse span.disabled {border:1px solid white; opacity:0.3; -ms-filter:'alpha(opacity=30)'; filter:alpha(opacity=30)}
a.browse:hover span.disabled {border:1px solid white; background-color:transparent;}
a.pickcolor span {display:block; width:20px; height:16px; background:url(img/ephox-icons.gif) -840px 0; margin-left:2px;}
.mceOldBoxModel a.pickcolor span {width:21px; height:17px;}
a.pickcolor:hover span {background-color:#B2BBD0;}
a.pickcolor:hover span.disabled {}

/* Charmap */
table.charmap {border:1px solid; text-align:center}
body.forceColors table.charmap { border-color: #AAA }
td.charmap, #charmap a {width:18px; height:18px; border:1px solid; text-align:center; font-size:12px; vertical-align:middle; line-height: 18px;}
body.forceColors td.charmap, body.forceColors #charmap a {color:#000; border-color: #AAA;}
#charmap a {display:block; text-decoration:none; border:0}
#charmap a:hover {background:#CCC;color:#2B6FB6}
#charmap #codeN {font-size:10px; font-family:Arial,Helvetica,sans-serif; text-align:center}
#charmap #codeV {font-size:40px; height:80px; border:1px solid #AAA; text-align:center}

/* Source */
.wordWrapCode {vertical-align:middle; border:1px none;}
body.forceColors .wordWrapCode { border-color: #000; background:transparent;}
.mceActionPanel {margin-top:5px;}

/* Tabs classes */
.tabs {width:100%; height:18px; line-height:normal;}
body.forceColors .tabs {background:url(img/tabs.gif) repeat-x 0 -72px;}
.tabs ul {margin:0; padding:0; list-style:none;}
.tabs li {float:left; margin:0 2px 0 0; padding:0 0 0 10px; line-height:17px; height:18px; display:block; cursor:pointer; border:1px solid; border-bottom: none;}
body.forceColors .tabs li {background:url(img/tabs.gif) no-repeat 0 0;color:#FFF; border:none;}
body.forceColors .tabs li.current {background:url(img/tabs.gif) no-repeat 0 -18px;}
.tabs span {float:left; display:block; padding:0px 10px 0 0;}
body.forceColors .tabs span {background:url(img/tabs.gif) no-repeat right -36px; border:none;}
body.forceColors .tabs .current span {background:url(img/tabs.gif) no-repeat right -54px;}
.tabs a {text-decoration:none; font-family:Verdana, Arial; font-size:10px;}
body.forceColors .tabs a:link, body.forceColors .tabs a:visited, body.forceColors .tabs a:hover {color:black;}

/* Panels */
.panel_wrapper div.panel {display:none;}
.panel_wrapper div.current {display:block; width:100%; height:300px; overflow:visible;}
.panel_wrapper {border:1px solid; padding:10px; padding-top:5px; clear:both;}
body.forceColors .panel_wrapper {border-color:#919B9C;background:#FFF;border-top:0px;}

/* Columns */
.column {float:left;}
.properties {width:100%;}
.properties .column1 {}
.properties .column2 {text-align:left;}

/* Titles */
h1, h2, h3, h4 {margin:0; padding:0; padding-top:5px;}
body.forceColors h1,body.forceColors h2, body.forceColors h3, body.forceColors h4 {color:#2B6FB6}
h3 {font-size:14px;}
.title {font-size:12px; font-weight:bold;}
body.forceColors .title {color:#2B6FB6}

/* Dialog specific */
#link .panel_wrapper, #link div.current {height:125px;}
#image .panel_wrapper, #image div.current {height:200px;}
#plugintable thead {font-weight:bold;}
body.forceColors #plugintable thead {background:#DDD;}
#plugintable, #about #plugintable td {border:1px solid}
body.forceColors #plugintable, body.forceColors #about #plugintable td {border-color: #919B9C} 
#plugintable {width:96%; margin-top:10px;}
#pluginscontainer {height:290px; overflow:auto;}
#colorpicker #preview {float:right; width:50px; height:14px;line-height:1px; border:1px solid black; margin-left:5px;}
#colorpicker #colors {float:left; border:1px solid gray; cursor:crosshair;}
#colorpicker #light {border:1px solid gray; margin-left:5px; float:left;width:15px; height:150px; cursor:crosshair;}
#colorpicker #light div {overflow:hidden;}
#colorpicker #previewblock {float:right; padding-left:10px; height:20px;}
#colorpicker .panel_wrapper div.current {height:175px;}
#colorpicker #namedcolors {width:150px;}
#colorpicker #namedcolors a {display:block; float:left; width:10px; height:10px; margin:1px 1px 0 0; overflow:hidden;}
#colorpicker #colornamecontainer {margin-top:5px;}
