/* Reset */
.ephoxSkin table, .ephoxSkin tbody, .ephoxSkin a, .ephoxSkin img, .ephoxSkin tr, .ephoxSkin div, .ephoxSkin td, .ephoxSkin iframe, .ephoxSkin span, .ephoxSkin *, .ephoxSkin .mceText {border:0; margin:0; padding:0; background:transparent; white-space:nowrap; text-decoration:none; font-weight:normal; cursor:default; color:#000; vertical-align:baseline; width:auto; border-collapse:separate; text-align:left}
.ephoxSkin a:hover, .ephoxSkin a:link, .ephoxSkin a:visited, .ephoxSkin a:active {text-decoration:none; font-weight:normal; cursor:default; color:#000}
.ephoxSkin table td {vertical-align:middle}

/* Containers */
.ephoxSkin table {background:#E5EFFD}
.ephoxSkin iframe {display:block; background:#FFF}
.ephoxSkin .mceToolbar {height:26px}

/* External */
.ephoxSkin .mceExternalToolbar {position:absolute; border:1px solid #ABC6DD; border-bottom:0; display:none}
.ephoxSkin .mceExternalToolbar td.mceToolbar {padding-right:13px;}
.ephoxSkin .mceExternalClose {position:absolute; top:3px; right:3px; width:7px; height:7px; background:url(../../img/ephox-icons.gif) -820px 0}

/* Layout */
.ephoxSkin table.mceLayout {border:0; border-left:1px solid #ABC6DD; border-right:1px solid #ABC6DD}
.ephoxSkin table.mceLayout tr.mceFirst td {border-top:1px solid #ABC6DD}
.ephoxSkin table.mceLayout tr.mceLast td {border-bottom:1px solid #ABC6DD}
.ephoxSkin table.mceToolbar, .ephoxSkin tr.mceFirst .mceToolbar tr td, .ephoxSkin tr.mceLast .mceToolbar tr td {border:0; margin:0; padding:0}
.ephoxSkin .mceIframeContainer {border-top:1px solid #ABC6DD; border-bottom:1px solid #ABC6DD}
.ephoxSkin .mceStatusbar {display:block; font-family:'MS Sans Serif',sans-serif,Verdana,Arial; font-size:9pt; line-height:16px; overflow:visible; color:#000; height:20px}
.ephoxSkin .mceStatusbar div {float:left; padding:2px}
.ephoxSkin .mceStatusbar a.mceResize {display:block; float:right; background:url(../../img/ephox-icons.gif) -800px 0; width:20px; height:20px; cursor:se-resize; outline:0}
.ephoxSkin .mceStatusbar a:hover {text-decoration:underline}
.ephoxSkin table.mceToolbar {margin-left:3px}
.ephoxSkin .mceToolbar .mceToolbarStart span {display:block; background:url(img/button_bg_ephox.png) -22px 0; width:1px; height:22px; margin-left:3px;}
.ephoxSkin .mceToolbar td.mceFirst span {margin:0}
.ephoxSkin .mceToolbar .mceToolbarEnd span {display:block; background:url(img/button_bg_ephox.png) -22px 0; width:1px; height:22px}
.ephoxSkin .mceToolbar .mceToolbarEndListBox span, .ephoxSkin .mceToolbar .mceToolbarStartListBox span {display:none}
.ephoxSkin span.mceIcon, .ephoxSkin img.mceIcon {display:block; width:20px; height:20px}
.ephoxSkin .mceIcon {background:url(../../img/ephox-icons.gif) no-repeat 20px 20px}
.ephoxSkin td.mceCenter {text-align:center;}
.ephoxSkin td.mceCenter table {margin:0 auto; text-align:left;}
.ephoxSkin td.mceRight table {margin:0 0 0 auto;}

/* Button */
.ephoxSkin .mceButton {display:block; background:url(img/button_bg_ephox.png); width:22px; height:22px}
.ephoxSkin a.mceButton span, .ephoxSkin a.mceButton img {margin-left:1px}
.ephoxSkin .mceOldBoxModel a.mceButton span, .ephoxSkin .mceOldBoxModel a.mceButton img {margin:0 0 0 1px}
.ephoxSkin a.mceButtonEnabled:hover {background-color:#B2BBD0; background-position:0 -22px}
.ephoxSkin a.mceButtonActive, .ephoxSkin a.mceButtonSelected {background-position:0 -44px}
.ephoxSkin .mceButtonDisabled .mceIcon {opacity:0.3; -ms-filter:'alpha(opacity=30)'; filter:alpha(opacity=30)}
.ephoxSkin .mceButtonLabeled {width:auto}
.ephoxSkin .mceButtonLabeled span.mceIcon {float:left}
.ephoxSkin span.mceButtonLabel {display:block; font-size:10px; padding:4px 6px 0 22px; font-family:Tahoma,Verdana,Arial,Helvetica}
.ephoxSkin .mceButtonDisabled .mceButtonLabel {color:#888}

/* Separator */
.ephoxSkin .mceSeparator {display:block; background:url(img/button_bg_ephox.png) -22px 0; width:5px; height:22px;}

/* ListBox */
.ephoxSkin .mceListBox {margin-left:3px}
.ephoxSkin .mceListBox, .ephoxSkin .mceListBox a {display:block}
.ephoxSkin .mceListBox .mceText {padding-left:4px; text-align:left; width:70px; border:1px solid #b3c7e1; border-right:0; background:#eaf2fb; font-family:Tahoma,Verdana,Arial,Helvetica; font-size:11px; height:20px; line-height:20px; overflow:hidden}
.ephoxSkin .mceListBox .mceOpen {width:14px; height:22px; background:url(img/button_bg_ephox.png) -66px 0}
.ephoxSkin table.mceListBoxEnabled:hover .mceText, .ephoxSkin .mceListBoxHover .mceText, .ephoxSkin .mceListBoxSelected .mceText {background:#FFF}
.ephoxSkin table.mceListBoxEnabled:hover .mceOpen, .ephoxSkin .mceListBoxHover .mceOpen, .ephoxSkin .mceListBoxSelected .mceOpen {background-position:-66px -22px}
.ephoxSkin .mceListBoxDisabled .mceText {color:gray}
.ephoxSkin .mceListBoxMenu {overflow:auto; overflow-x:hidden}
.ephoxSkin .mceOldBoxModel .mceListBox .mceText {height:22px}
.ephoxSkin select.mceListBox {font-family:Tahoma,Verdana,Arial,Helvetica; font-size:12px; border:1px solid #b3c7e1; background:#FFF;}

/* SplitButton */
.ephoxSkin .mceSplitButton, .ephoxSkin .mceSplitButton a, .ephoxSkin .mceSplitButton span {display:block; height:22px}
.ephoxSkin .mceSplitButton {background:url(img/button_bg_ephox.png)}
.ephoxSkin .mceSplitButton a.mceAction {width:22px}
.ephoxSkin .mceSplitButton span.mceAction {width:22px; background-image:url(../../img/ephox-icons.gif)}
.ephoxSkin .mceSplitButton a.mceOpen {width:10px; background:url(img/button_bg_ephox.png) -44px 0}
.ephoxSkin .mceSplitButton span.mceOpen {display:none}
.ephoxSkin table.mceSplitButtonEnabled:hover a.mceAction, .ephoxSkin .mceSplitButtonHover a.mceAction, .ephoxSkin .mceSplitButtonSelected {background:url(img/button_bg_ephox.png) 0 -22px}
.ephoxSkin table.mceSplitButtonEnabled:hover a.mceOpen, .ephoxSkin .mceSplitButtonHover a.mceOpen, .ephoxSkin .mceSplitButtonSelected a.mceOpen {background-position:-44px -44px}
.ephoxSkin .mceSplitButtonDisabled .mceAction {opacity:0.3; -ms-filter:'alpha(opacity=30)'; filter:alpha(opacity=30)}
.ephoxSkin .mceSplitButtonActive {background-position:0 -44px}

/* ColorSplitButton */
.ephoxSkin div.mceColorSplitMenu table {background:#FFF; border:1px solid gray}
.ephoxSkin .mceColorSplitMenu td {padding:2px}
.ephoxSkin .mceColorSplitMenu a {display:block; width:9px; height:9px; overflow:hidden; border:1px solid #808080}
.ephoxSkin .mceColorSplitMenu td.mceMoreColors {padding:1px 3px 1px 1px}
.ephoxSkin .mceColorSplitMenu a.mceMoreColors {width:100%; height:auto; text-align:center; font-family:Tahoma,Verdana,Arial,Helvetica; font-size:11px; line-height:20px; border:1px solid #FFF}
.ephoxSkin .mceColorSplitMenu a.mceMoreColors:hover {border:1px solid #0A246A; background-color:#B6BDD2}
.ephoxSkin a.mceMoreColors:hover {border:1px solid #0A246A}
.ephoxSkin .mceColorPreview {margin-left:2px; width:16px; height:4px; overflow:hidden; background:#9a9b9a;overflow:hidden}
.ephoxSkin .mce_forecolor span.mceAction, .ephoxSkin .mce_backcolor span.mceAction {height:15px;overflow:hidden}

/* Menu */
.ephoxSkin .mceMenu {position:absolute; left:0; top:0; z-index:1000; border:1px solid #ABC6DD}
.ephoxSkin .mceNoIcons span.mceIcon {width:0;}
.ephoxSkin .mceNoIcons a .mceText {padding-left:10px}
.ephoxSkin .mceMenu table {background:#FFF}
.ephoxSkin .mceMenu a, .ephoxSkin .mceMenu span, .ephoxSkin .mceMenu {display:block}
.ephoxSkin .mceMenu td {height:20px}
.ephoxSkin .mceMenu a {position:relative;padding:3px 0 4px 0}
.ephoxSkin .mceMenu .mceText {position:relative; display:block; font-family:Tahoma,Verdana,Arial,Helvetica; color:#000; cursor:default; margin:0; padding:0 25px 0 25px; display:block}
.ephoxSkin .mceMenu span.mceText, .ephoxSkin .mceMenu .mcePreview {font-size:11px}
.ephoxSkin .mceMenu pre.mceText {font-family:Monospace}
.ephoxSkin .mceMenu .mceIcon {position:absolute; top:0; left:0; width:22px;}
.ephoxSkin .mceMenu .mceMenuItemEnabled a:hover, .ephoxSkin .mceMenu .mceMenuItemActive {background-color:#dbecf3}
.ephoxSkin td.mceMenuItemSeparator {background:#DDD; height:1px}
.ephoxSkin .mceMenuItemTitle a {border:0; background:#E5EFFD; border-bottom:1px solid #ABC6DD}
.ephoxSkin .mceMenuItemTitle span.mceText {color:#000; font-weight:bold; padding-left:4px}
.ephoxSkin .mceMenuItemDisabled .mceText {color:#888}
.ephoxSkin .mceMenuItemSelected .mceIcon {background:url(../default/img/menu_check.gif)}
.ephoxSkin .mceNoIcons .mceMenuItemSelected a {background:url(../default/img/menu_arrow.gif) no-repeat -6px center}
.ephoxSkin .mceMenu span.mceMenuLine {display:none}
.ephoxSkin .mceMenuItemSub a {background:url(../default/img/menu_arrow.gif) no-repeat top right;}

/* Progress,Resize */
.ephoxSkin .mceBlocker {position:absolute; left:0; top:0; z-index:1000; opacity:0.5; -ms-filter:'alpha(opacity=30)'; filter:alpha(opacity=50); background:#FFF}
.ephoxSkin .mceProgress {position:absolute; left:0; top:0; z-index:1001; background:url(../default/img/progress.gif) no-repeat; width:32px; height:32px; margin:-16px 0 0 -16px}

/* Formats */
.ephoxSkin .mce_formatPreview a {font-size:10px}
.ephoxSkin .mce_p span.mceText {}
.ephoxSkin .mce_address span.mceText {font-style:italic}
.ephoxSkin .mce_pre span.mceText {font-family:monospace}
.ephoxSkin .mce_h1 span.mceText {font-weight:bolder; font-size: 2em}
.ephoxSkin .mce_h2 span.mceText {font-weight:bolder; font-size: 1.5em}
.ephoxSkin .mce_h3 span.mceText {font-weight:bolder; font-size: 1.17em}
.ephoxSkin .mce_h4 span.mceText {font-weight:bolder; font-size: 1em}
.ephoxSkin .mce_h5 span.mceText {font-weight:bolder; font-size: .83em}
.ephoxSkin .mce_h6 span.mceText {font-weight:bolder; font-size: .75em}

/* Theme */
.ephoxSkin span.mce_bold {background-position:0 0}
.ephoxSkin span.mce_italic {background-position:-60px 0}
.ephoxSkin span.mce_underline {background-position:-140px 0}
.ephoxSkin span.mce_strikethrough {background-position:-120px 0}
.ephoxSkin span.mce_undo {background-position:-160px 0}
.ephoxSkin span.mce_redo {background-position:-100px 0}
.ephoxSkin span.mce_cleanup {background-position:-40px 0}
.ephoxSkin span.mce_bullist {background-position:-20px 0}
.ephoxSkin span.mce_numlist {background-position:-80px 0}
.ephoxSkin span.mce_justifyleft {background-position:-460px 0}
.ephoxSkin span.mce_justifyright {background-position:-480px 0}
.ephoxSkin span.mce_justifycenter {background-position:-420px 0}
.ephoxSkin span.mce_justifyfull {background-position:-440px 0}
.ephoxSkin span.mce_anchor {background-position:-200px 0}
.ephoxSkin span.mce_indent {background-position:-400px 0}
.ephoxSkin span.mce_outdent {background-position:-540px 0}
.ephoxSkin span.mce_link {background-position:-500px 0}
.ephoxSkin span.mce_unlink {background-position:-640px 0}
.ephoxSkin span.mce_sub {background-position:-600px 0}
.ephoxSkin span.mce_sup {background-position:-620px 0}
.ephoxSkin span.mce_removeformat {background-position:-580px 0}
.ephoxSkin span.mce_newdocument {background-position:-520px 0}
.ephoxSkin span.mce_image {background-position:-380px 0}
.ephoxSkin span.mce_help {background-position:-340px 0}
.ephoxSkin span.mce_code {background-position:-260px 0}
.ephoxSkin span.mce_hr {background-position:-360px 0}
.ephoxSkin span.mce_visualaid {background-position:-660px 0}
.ephoxSkin span.mce_charmap {background-position:-240px 0}
.ephoxSkin span.mce_paste {background-position:-560px 0}
.ephoxSkin span.mce_copy {background-position:-700px 0}
.ephoxSkin span.mce_cut {background-position:-680px 0}
.ephoxSkin span.mce_blockquote {background-position:-220px 0}
.ephoxSkin .mce_forecolor span.mceAction {background-position:-720px 0}
.ephoxSkin .mce_backcolor span.mceAction {background-position:-760px 0}
.ephoxSkin span.mce_forecolorpicker {background-position:-720px 0}
.ephoxSkin span.mce_backcolorpicker {background-position:-760px 0}

/* Plugins */
.ephoxSkin span.mce_advhr {background-position:-0px -20px}
.ephoxSkin span.mce_ltr {background-position:-20px -20px}
.ephoxSkin span.mce_rtl {background-position:-40px -20px}
.ephoxSkin span.mce_emotions {background-position:-60px -20px}
.ephoxSkin span.mce_fullpage {background-position:-80px -20px}
.ephoxSkin span.mce_fullscreen {background-position:-100px -20px}
.ephoxSkin span.mce_iespell {background-position:-120px -20px}
.ephoxSkin span.mce_insertdate {background-position:-140px -20px}
.ephoxSkin span.mce_inserttime {background-position:-160px -20px}
.ephoxSkin span.mce_absolute {background-position:-180px -20px}
.ephoxSkin span.mce_backward {background-position:-200px -20px}
.ephoxSkin span.mce_forward {background-position:-220px -20px}
.ephoxSkin span.mce_insert_layer {background-position:-240px -20px}
.ephoxSkin span.mce_insertlayer {background-position:-260px -20px}
.ephoxSkin span.mce_movebackward {background-position:-280px -20px}
.ephoxSkin span.mce_moveforward {background-position:-300px -20px}
.ephoxSkin span.mce_media {background-position:-320px -20px}
.ephoxSkin span.mce_nonbreaking {background-position:-340px -20px}
.ephoxSkin span.mce_pastetext {background-position:-360px -20px}
.ephoxSkin span.mce_pasteword {background-position:-380px -20px}
.ephoxSkin span.mce_selectall {background-position:-400px -20px}
.ephoxSkin span.mce_preview {background-position:-420px -20px}
.ephoxSkin span.mce_print {background-position:-440px -20px}
.ephoxSkin span.mce_cancel {background-position:-460px -20px}
.ephoxSkin span.mce_save {background-position:-480px -20px}
.ephoxSkin span.mce_replace {background-position:-500px -20px}
.ephoxSkin span.mce_search {background-position:-520px -20px}
.ephoxSkin span.mce_styleprops {background-position:-560px -20px}
.ephoxSkin span.mce_table {background-position:-580px -20px}
.ephoxSkin span.mce_cell_props {background-position:-600px -20px}
.ephoxSkin span.mce_delete_table {background-position:-620px -20px}
.ephoxSkin span.mce_delete_col {background-position:-640px -20px}
.ephoxSkin span.mce_delete_row {background-position:-660px -20px}
.ephoxSkin span.mce_col_after {background-position:-680px -20px}
.ephoxSkin span.mce_col_before {background-position:-700px -20px}
.ephoxSkin span.mce_row_after {background-position:-720px -20px}
.ephoxSkin span.mce_row_before {background-position:-740px -20px}
.ephoxSkin span.mce_merge_cells {background-position:-760px -20px}
.ephoxSkin span.mce_table_props {background-position:-980px -20px}
.ephoxSkin span.mce_row_props {background-position:-780px -20px}
.ephoxSkin span.mce_split_cells {background-position:-800px -20px}
.ephoxSkin span.mce_template {background-position:-820px -20px}
.ephoxSkin span.mce_visualchars {background-position:-840px -20px}
.ephoxSkin span.mce_abbr {background-position:-860px -20px}
.ephoxSkin span.mce_acronym {background-position:-880px -20px}
.ephoxSkin span.mce_attribs {background-position:-900px -20px}
.ephoxSkin span.mce_cite {background-position:-920px -20px}
.ephoxSkin span.mce_del {background-position:-940px -20px}
.ephoxSkin span.mce_ins {background-position:-960px -20px}
.ephoxSkin span.mce_pagebreak {background-position:0 -40px}
.ephoxSkin span.mce_restoredraft {background-position:-20px -40px}
.ephoxSkin span.mce_spellchecker {background-position:-540px -20px}
/* Black */
.ephoxSkin .mceToolbar .mceToolbarStart span, .ephoxSkin .mceToolbar .mceToolbarEnd span, .ephoxSkin .mceButton, .ephoxSkin .mceSplitButton, .ephoxSkin .mceSeparator, .ephoxSkin .mceSplitButton a.mceOpen, .ephoxSkin .mceListBox a.mceOpen {
	background-image:url(img/button_bg_ephox.png);
}

.ephoxSkin table, .ephoxSkin .mceMenuItemTitle a, .ephoxSkin .mceStatusbar div, .ephoxSkin .mceStatusbar span, .ephoxSkin .mceStatusbar a {
	background:#d8d7d7; 
	color:#000000
}

td.mceToolbar {
	background-image:url(img/ephoxbg.png);
	background-position:bottom;
	background-repeat:repeat-x
}

.mceIframeContainer iframe{
	border:1px solid #838383; 
}

.mceMenuItemTitle a .mceMenuItemTitle a:hover .mceMenuItemTitle .mceMenuItemEnabled tr:hover .mceMenuItemEnabled a:hover {
	color:#ffffff
}

.ephoxSkin table.mceListBoxEnabled .mceText, .ephoxSkin .mceListBox .mceText {
	background:#FFF; 
	border:1px solid #838383; 
	border-bottom-color:#989FA9; 
	border-right:0
}

.ephoxSkin table.mceListBoxEnabled:hover .mceText, .ephoxSkin .mceListBoxHover .mceText, .ephoxSkin .mceListBoxSelected .mceText {
	background:#FFF; 
	border:1px solid #838383;
	border-right:0;
	color:black;
}

.ephoxSkin .mceExternalToolbar, .ephoxSkin .mceListBox .mceText, .ephoxSkin div.mceMenu, .ephoxSkin table.mceLayout, .ephoxSkin .mceMenuItemTitle a, .ephoxSkin table.mceLayout tr.mceFirst td, .ephoxSkin table.mceLayout, .ephoxSkin .mceMenuItemTitle a, .ephoxSkin table.mceLayout tr.mceLast td, .ephoxSkin .mceIframeContainer {
	border:none;
}

.ephoxSkin table.mceSplitButtonEnabled:hover a.mceAction, .ephoxSkin .mceSplitButtonHover a.mceAction, .ephoxSkin .mceSplitButtonSelected {
	background-image:url(img/button_bg_ephox.png)
}

.ephoxSkin .mceMenu  .mceMenuItemEnabled a:hover  , .ephoxSkin .mceMenu .mceMenuItemActive{
	background-color:#3399ff;
}

.ephoxSkin .mceToolbar  table{
	background-color:transparent;
}

.ephoxSkin .mceColorSplitMenu a.mceMoreColors:hover {
background-color:#e6edf6;
border:1px solid #aecff7;
}

.ephoxSkin table.mceLayout {
border-top:1px solid #a0a0a0;
}

.ephoxSkin table.mceToolbar {
	margin-left:2px;
	margin-top:2px;
}

.ephoxSkin .mceIcon {
	background:url(../../img/ephox-icons.gif) no-repeat 20px 20px
}
