/* Black */
.ephoxSkinBlack .mceToolbar .mceToolbarStart span, .ephoxSkinBlack .mceToolbar .mceToolbarEnd span, .ephoxSkinBlack .mceButton, .ephoxSkinBlack .mceSplitButton, .ephoxSkinBlack .mceSeparator, .ephoxSkinBlack .mceSplitButton a.mceOpen, .ephoxSkinBlack .mceListBox a.mceOpen {
	background-image:url(img/button_bg_ephox.png);
}

.ephoxSkinBlack table, .ephoxSkinBlack .mceMenuItemTitle a, .ephoxSkinBlack .mceStatusbar div, .ephoxSkinBlack .mceStatusbar span, .ephoxSkinBlack .mceStatusbar a {
	background:#d8d7d7; 
	color:#000000
}

td.mceToolbar {
	background-image:url(img/ephoxbg.png);
	background-position:bottom;
	background-repeat:repeat-x
}

.mceIframeContainer iframe{
	border:1px solid #838383; 
}

.mceMenuItemTitle a .mceMenuItemTitle a:hover .mceMenuItemTitle .mceMenuItemEnabled tr:hover .mceMenuItemEnabled a:hover {
	color:#ffffff
}

.ephoxSkinBlack table.mceListBoxEnabled .mceText, .ephoxSkinBlack .mceListBox .mceText {
	background:#FFF; 
	border:1px solid #838383; 
	border-bottom-color:#989FA9; 
	border-right:0
}

.ephoxSkinBlack table.mceListBoxEnabled:hover .mceText, .ephoxSkinBlack .mceListBoxHover .mceText, .ephoxSkinBlack .mceListBoxSelected .mceText {
	background:#FFF; 
	border:1px solid #838383;
	border-right:0;
	color:black;
}

.ephoxSkinBlack .mceExternalToolbar, .ephoxSkinBlack .mceListBox .mceText, .ephoxSkinBlack div.mceMenu, .ephoxSkinBlack table.mceLayout, .ephoxSkinBlack .mceMenuItemTitle a, .ephoxSkinBlack table.mceLayout tr.mceFirst td, .ephoxSkinBlack table.mceLayout, .ephoxSkinBlack .mceMenuItemTitle a, .ephoxSkinBlack table.mceLayout tr.mceLast td, .ephoxSkinBlack .mceIframeContainer {
	border:none;
}

.ephoxSkinBlack table.mceSplitButtonEnabled:hover a.mceAction, .ephoxSkinBlack .mceSplitButtonHover a.mceAction, .ephoxSkinBlack .mceSplitButtonSelected {
	background-image:url(img/button_bg_ephox.png)
}

.ephoxSkinBlack .mceMenu  .mceMenuItemEnabled a:hover  , .ephoxSkinBlack .mceMenu .mceMenuItemActive{
	background-color:#3399ff;
}

.ephoxSkinBlack .mceToolbar  table{
	background-color:transparent;
}

.ephoxSkin .mceColorSplitMenu a.mceMoreColors:hover {
background-color:#e6edf6;
border:1px solid #aecff7;
}

.ephoxSkin table.mceLayout {
border-top:1px solid #a0a0a0;
}

.ephoxSkin table.mceToolbar {
	margin-left:2px;
	margin-top:2px;
}

.ephoxSkin .mceIcon {
	background:url(../../img/ephox-icons.gif) no-repeat 20px 20px
}
