/* Black */
.editliveSkinBlack .mceToolbar .mceToolbarStart span, .editliveSkinBlack .mceToolbar .mceToolbarEnd span, .editliveSkinBlack .mceButton, .editliveSkinBlack .mceSplitButton, .editliveSkinBlack .mceSeparator, .editliveSkinBlack .mceSplitButton a.mceOpen, .editliveSkinBlack .mceListBox a.mceOpen {
	background-image:url(img/button_bg_editlive.png)
}

.editliveSkinBlack table, .editliveSkinBlack .mceMenuItemTitle a, .editliveSkinBlack .mceMenuItemTitle span.mceText, .editliveSkinBlack .mceStatusbar div, .editliveSkinBlack .mceStatusbar span, .editliveSkinBlack .mceStatusbar a {
	background:#535353; 
	color:#FFF
}

.editliveSkinBlack table.mceListBoxEnabled .mceText, editliveSkinBlack .mceListBox .mceText {
	background:#FFF; 
	border:1px solid #CBCFD4; 
	border-bottom-color:#989FA9; 
	border-right:0
}

.editliveSkinBlack table.mceListBoxEnabled:hover .mceText, .editliveSkinBlack .mceListBoxHover .mceText, .editliveSkinBlack .mceListBoxSelected .mceText {
	background:#FFF; 
	border:1px solid #FFBD69; 
	border-right:0
}

.editliveSkinBlack .mceExternalToolbar, .editliveSkinBlack .mceListBox .mceText, .editliveSkinBlack div.mceMenu, .editliveSkinBlack table.mceLayout, .editliveSkinBlack .mceMenuItemTitle a, .editliveSkinBlack table.mceLayout tr.mceFirst td, .editliveSkinBlack table.mceLayout, .editliveSkinBlack .mceMenuItemTitle a, .editliveSkinBlack table.mceLayout tr.mceLast td, .editliveSkinBlack .mceIframeContainer {
	border-color: #535353;
}

.editliveSkinBlack table.mceSplitButtonEnabled:hover a.mceAction, .editliveSkinBlack .mceSplitButtonHover a.mceAction, .editliveSkinBlack .mceSplitButtonSelected {
	background-image:url(img/button_bg_black.png)
}

.editliveSkinBlack .mceMenu .mceMenuItemEnabled a:hover, .editliveSkinBlack .mceMenu .mceMenuItemActive {
	background-color:#FFE7A1
}