/* Black */
.ephoxSkinBlack .mceToolbar .mceToolbarStart span, .ephoxSkinBlack .mceToolbar .mceToolbarEnd span, .ephoxSkinBlack .mceButton, .ephoxSkinBlack .mceSplitButton, .ephoxSkinBlack .mceSeparator, .ephoxSkinBlack .mceSplitButton a.mceOpen, .ephoxSkinBlack .mceListBox a.mceOpen {
	background-image:url(img/button_bg_ephox.png)
}

.ephoxSkinBlack table, .ephoxSkinBlack .mceMenuItemTitle a, .ephoxSkinBlack .mceMenuItemTitle span.mceText, .ephoxSkinBlack .mceStatusbar div, .ephoxSkinBlack .mceStatusbar span, .ephoxSkinBlack .mceStatusbar a {
	background:#535353; 
	color:#FFF
}

.ephoxSkinBlack table.mceListBoxEnabled .mceText, ephoxSkinBlack .mceListBox .mceText {
	background:#FFF; 
	border:1px solid #CBCFD4; 
	border-bottom-color:#989FA9; 
	border-right:0
}

.ephoxSkinBlack table.mceListBoxEnabled:hover .mceText, .ephoxSkinBlack .mceListBoxHover .mceText, .ephoxSkinBlack .mceListBoxSelected .mceText {
	background:#FFF; 
	border:1px solid #FFBD69; 
	border-right:0
}

.ephoxSkinBlack .mceExternalToolbar, .ephoxSkinBlack .mceListBox .mceText, .ephoxSkinBlack div.mceMenu, .ephoxSkinBlack table.mceLayout, .ephoxSkinBlack .mceMenuItemTitle a, .ephoxSkinBlack table.mceLayout tr.mceFirst td, .ephoxSkinBlack table.mceLayout, .ephoxSkinBlack .mceMenuItemTitle a, .ephoxSkinBlack table.mceLayout tr.mceLast td, .ephoxSkinBlack .mceIframeContainer {
	border-color: #535353;
}

.ephoxSkinBlack table.mceSplitButtonEnabled:hover a.mceAction, .ephoxSkinBlack .mceSplitButtonHover a.mceAction, .ephoxSkinBlack .mceSplitButtonSelected {
	background-image:url(img/button_bg_black.png)
}

.ephoxSkinBlack .mceMenu .mceMenuItemEnabled a:hover, .ephoxSkinBlack .mceMenu .mceMenuItemActive {
	background-color:#FFE7A1
}
