//
// Form layout
//

// .tox-grid {
//   display: grid;
//   grid-template-columns: repeat(1, 1fr);
//   grid-gap: @pad-sm @pad-md;
// }

// .tox-grid--2col {
//   grid-template-columns: repeat(2, 1fr);
// }

// .tox-grid--span-2col {
//   grid-column: span 2;
// }

.tox {
  .tox-form {
    display: flex;
    flex: 1;
    flex-direction: column;
    -ms-flex-preferred-size: auto;
  }

  .tox-form--2col {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  // Wraps a label and input combo.
  .tox-form__group {
    //
  }

  .tox-form--2col > .tox-form__group {
    box-sizing: border-box;
    width: 50%;
  }

  .tox-form--2col > .tox-form__group:nth-child(even) {
    padding-left: @pad-md / 2;
  }

  .tox-form--2col > .tox-form__group:nth-child(odd) {
    padding-right: @pad-md / 2;
  }

  .tox-form > .tox-form__group:not(:last-child) {
    margin-bottom: @pad-xs;
  }

  // Modifier for validation error
  .tox-form__group--error {
    //
  }

  // Horizontally stack elements.
  // Should allow both aligning controls, as well as
  // `.form-groups`.
  .tox-form__controls-h-stack {
    align-items: center;
    display: flex;

    > *:not(:first-child) {
      margin-left: @pad-xs;
    }
  }

  .tox-form__group--inline {
    align-items: center;
    display: flex;
  }
}
