//
// Status
//

@status-error-color: red;
@status-success-color: green;

.tox {
  // Statuses is used as accessory icons within .tox-control-wrap
  .tox-status {
    //

    svg {
      display: block;
    }
  }

  .tox-status__icon-success svg {
    fill: @status-success-color;
  }

  // TODO: Is this used?
  .tox-status__icon-warning svg {
    fill: orange;
  }

  .tox-status__icon-error svg {
    fill: @status-error-color;
  }
}
