.ephox-snooker-resizer-bar {
  background-color: #500;
  opacity: 0.0;
  cursor: ew-resize;
}

.ephox-snooker-resizer-bar.ephox-snooker-resizer-bar-dragging {
  opacity: 0.2;
}


.ephox-snooker-table-picker {
  border: none;
  padding: 0;
  margin: 0;
  border-spacing: .25em;
  border-collapse: separate;
}

.ephox-snooker-table-picker .ephox-snooker-table-picker-cell {
  border: none;
  width: 1em;
  height: 1em;
  background-color: #D8D8D8;
  display: inline-block;

  /* Yes, 1.5px is weird. But 1.5 + 1.5 == 3px between cells */
  margin: 1px 1.5px;
}

.ephox-snooker-table-picker .ephox-snooker-table-picker-row {
  white-space: nowrap;
}

.ephox-snooker-table-picker {
  padding-top: 1em;
}

.ephox-snooker-table-picker .ephox-snooker-table-picker-cell.ephox-snooker-picker-selected {
  background-color: #8080FF;
}

.ephox-snooker-table-picker .ephox-snooker-picker-selected.ephox-snooker-table-picker-cell.ephox-snooker-picker-header {
  background-color: #424242;
}
