.mceSeparatorLine {
	border: 0;
	padding: 0;
	margin-left: 4px;
	margin-right: 2px;
}

.mceSelectList {
	font-family: "MS Sans Serif";
	font-size: 7pt;
	font-weight: normal;
	margin-top: 2px;
}

.mceLabel, .mceLabelDisabled {
	font-family: "MS Sans Serif";
	font-size: 9pt;
}

.mceLabel {
	color: #000000;
}

.mceLabelDisabled {
	cursor: text;
	color: #999999;
}

.mceEditor {
	background: #F0F0EE;
	border: 1px solid #cccccc;
}

.mceEditorArea {
	font-family: "MS Sans Serif";
	background: #FFFFFF;
}

.mceToolbar {
	background: #F0F0EE;
	border-top: 1px solid #cccccc;
	line-height: 1px;
	font-size: 1px;
	padding-bottom: 1px;
}

.mceEditorIframe {
	border: 0;
}

/* Button CSS rules */

a.mceButtonDisabled img, a.mceButtonNormal img, a.mceButtonSelected img {
	width: 20px;
	height: 20px;
	cursor: default;
	margin-top: 1px;
	margin-left: 1px;
}

a.mceButtonDisabled img {
	border: 0 !important;
}

a.mceButtonNormal img, a.mceButtonSelected img {
	border: 1px solid #F0F0EE !important;
}

a.mceButtonSelected img {
	border: 1px solid #C0C0BB !important;
}

a.mceButtonNormal img:hover, a.mceButtonSelected img:hover {
	border: 1px solid #0A246A !important;
	cursor: default;
	background-color: #B6BDD2;
}

a.mceButtonDisabled img {
	-moz-opacity:0.3;
	opacity: 0.3;
	border: 1px solid #F0F0EE !important;
	cursor: default;
}

a.mceTiledButton img {
	background-image: url('../images/buttons.gif');
	background-repeat: no-repeat;
}

/* MSIE specific rules */

* html a.mceButtonNormal img, * html a.mceButtonSelected img, * html a.mceButtonDisabled img {
	border: 0px !important;
	margin-top: 2px;
	margin-bottom: 1px;
}

* html a.mceButtonDisabled img {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30);
	border: 0px !important;
}

* html a.mceButtonDisabled {
	border: 1px solid #F0F0EE !important;
}

* html a.mceButtonNormal, * html a.mceButtonSelected {
	border: 1px solid #F0F0EE;
	cursor: default;
}

* html a.mceButtonSelected {
	border: 1px solid #C0C0BB;
}

* html a.mceButtonNormal:hover, * html a.mceButtonSelected:hover {
	border: 1px solid #0A246A;
	cursor: default;
	background-color: #B6BDD2;
}

* html .mceSelectList {
	margin-top: 2px;
}
