//
// Math
//

@math-margin: 16px 0 16px 0;

/* stylelint-disable selector-type-no-unknown */
tiny-math-block {
  display: flex;
  justify-content: center;
  margin: @math-margin;
}

tiny-math-inline {
  display: inline-block;
}
/* stylelint-enable selector-type-no-unknown */
