//
// Advance code
//
.tox {
  .mce-codemirror {
    position: 'absolute';
    top: '0';
    left: '0';
    bottom: '0';
    right: '0';
    z-index: '1';
    background: #fff;
    font-size: '13px';
    margin: '8px';

    &.tox-inline-codemirror {
      position: relative;
    }
  }
}