{
  "env": {
    "browser": false,
    "amd": true
  },

  "globals": {
    "assert": true,
    "test": true,
    "asynctest": true
  },

  "rules": {
    "eqeqeq": "error",
    "indent": ["error", "tab"],
    "no-mixed-spaces-and-tabs": "error",
    "space-before-function-paren": ["error", "always"],
    "yoda": "error"
  },

  "extends": "../../../../../.eslintrc"
}
