//
// Image selector
//

@image-selector-size: 30px;
@image-selector-menu-padding: 4px;
@image-selector-image-width: 48px;
@image-selector-picker-button-icon-fill: @text-color;
@image-selector-picker-button-icon-height: 24px;
@image-selector-picker-button-icon-width: 24px;
@image-selector-remove-color-stroke-color: #e74c3c;
@image-selector-outline-color: rgba(127, 127, 127, .3);

.tox {
  .tox-toolbar .tox-image-selector,
  .tox-toolbar__primary .tox-image-selector,
  .tox-toolbar__overflow .tox-image-selector {
    margin: @toolbar-button-spacing-y 0 (@toolbar-button-spacing-y + 1) @toolbar-group-padding-x;
  }

  .tox-image-selector-menu {
    border: 0;
    border-radius: @collection-item-radius;
    margin: -@collection-item-separator-margin-y -@menu-item-collection-list-padding;
    padding: @image-selector-menu-padding;

    // Remove menu border/padding when image-selector is used in a collection list context
    .tox-collection--list .tox-collection__group {
      border: 0;
      padding: 0;
      margin: -@collection-item-separator-margin-y -@menu-item-collection-list-padding;
    }

    .tox-collection__item {
      max-width: @image-selector-image-width;
    }

    .tox-collection__item-icon {
      border: 1px solid #E3E3E3;
      border-radius: @collection-item-radius;
      margin-bottom: 4px;
      width: 100%;

      svg path {
        stroke: @image-selector-remove-color-stroke-color;
      }
    }
  }

  .tox-image-selector__row {
    display: flex;
  }

  .tox-image-selector--remove {
    align-items: center;
    display: flex;
    justify-content: center;

    svg path {
      stroke: @image-selector-remove-color-stroke-color;
    }
  }

  .tox-image-selector__picker-btn {
    align-items: center;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: flex;
    height: @image-selector-size;
    justify-content: center;
    outline: none;
    padding: 0;
    width: @image-selector-size;

    svg {
      fill: @image-selector-picker-button-icon-fill;
      height: @image-selector-picker-button-icon-height;
      width: @image-selector-picker-button-icon-width;
    }

    &:hover {
      background: @toolbar-button-hover-background-color;
    }
  }
}

.tox:not([dir=rtl]) {
  .tox-image-selector__picker-btn {
    margin-left: auto;
  }
}

// RTL
.tox[dir=rtl] {
  .tox-image-selector__picker-btn {
    margin-right: auto;
  }
}
