//
// Promotion
//

@promotion-background-color: #E8F1F8;
@promotion-background-hover-color: #B4D7FF;
@promotion-color: #086BE6;

// private variables
@_promotion-row-separator-color: escape('@{menubar-row-separator-color}');
@_promotion-height: @_promotion-select-height + (@_promotion-select-spacing-y * 2) + 1px;
@_promotion-divider-height: @_promotion-height - 1px;
@_promotion-select-height: @menubar-select-height;
@_promotion-select-spacing-y: @menubar-select-spacing-y;

.tox {
  .tox-promotion {
    background: @menubar-background;
    background-color: @menubar-background-color;
    cursor: pointer;
    grid-column: 2;
    grid-row: 1;
    padding-inline-end: 8px;
    padding-inline-start: 4px;
    padding-top: 5px;
  }

  .tox-promotion-link {
    background-color: @promotion-background-color;
    border-radius: 5px;
    color: @promotion-color;
    display: block;
    font-size: @menubar-select-font-size;
    padding: 4px 8px;
    white-space: nowrap;

    &:hover {
      background-color: @promotion-background-hover-color;
    }
  }
}
