//
// Editor area
//

@edit-area-iframe-background-color: @color-white;
@edit-area-border: 0;

.tox {
  .tox-edit-area {
    display: flex;
    flex: 1;
    overflow: hidden;
    position: relative; // Required for the iframe to resize in IE and Edge
  }

  .tox-edit-area__iframe {
    background-color: @edit-area-iframe-background-color;
    border: @edit-area-border;
    box-sizing: border-box;
    flex: 1;
    height: 100%;
    position: absolute; // Required for the iframe to resize in IE and Edge
    width: 100%;
  }
}
