// UPLOADCARE LOADER
@overlay-background-color: rgba(255, 255, 255, 0.5);;

@loading-element-border: 3px solid @color-tint;
@loading-element-width: ~"min(24px, 30%)";

// UPLOADCARE PLACEHOLDER
@placeholder-background-color: @background-color;
@placeholder-text-color: @text-color-muted;
@placeholder-border: 2px solid darken(@placeholder-background-color, 11%);
@placeholder-font-family: monospace, sans-serif;

@placeholder-initial-width: 600px;
@placeholder-initial-height: 80px;

.tox-uc-image-overlay {
  position: absolute;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background: @overlay-background-color;
}

.tox-uc-loading-element {
  width: @loading-element-width;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: @loading-element-border;
  border-bottom-color: transparent;

  animation: tox-rotation 1s linear infinite;
}

.tox-uploadcare-placeholder {
  display: inline-block;
  width: @placeholder-initial-width;
  height: @placeholder-initial-height;

  .tox-uploadcare-placeholder--content {
    cursor: auto !important; // to overwrite not-allowed by selected contenteditable=false
    color: @placeholder-text-color;
    background-color: @placeholder-background-color;
    border: @placeholder-border;
    font-family: @placeholder-font-family;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
}
