@overlay-background-color: rgba(255, 255, 255, 0.5);;

@loading-element-border: 3px solid @color-tint;
@loading-element-width: ~"min(24px, 30%)";

.tox-uc-image-overlay {
  position: absolute;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background: @overlay-background-color;
}

.tox-uc-loading-element {
  width: @loading-element-width;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: @loading-element-border;
  border-bottom-color: transparent;

  animation: tox-rotation 1s linear infinite;
}
