.html-display {
  font-family: monospace;
  margin: 5px;
  padding: 5px;
  font-size: 80%;
  white-space: pre-wrap;
}

.demo-selected {
  color: white;
  background: black;
}

.alloy-menu {
  margin: 0px;
  padding: 0px;
  background: white;
  list-style-type: none;
  border: 1px solid black;
}

.alloy-menu li {
  padding: 0px;
  margin: 0px;
}

:focus {
  outline: 2px solid green;
}

button {
  margin: 3px;
}


/*
 * Hiding and showing the more drawer
 *
 * Due to the dynamic nature of the sliding toolbar (height can change, even when open) the values must be set via JS.
 *
 * It works a little bit like this: http://jsfiddle.net/adambiggs/MAbD3/
 */
.demo-sliding-closed {
  visibility: hidden;
  opacity: 0;
}

.demo-sliding-open {
  visibility: visible;
  opacity: 1;
}

.demo-sliding-height-growing {
  /*
   * Transition the height for 0.3s
   * After 0.1s, transition opacity for 0.2s
   * No visibility transition, it needs to show immediately
   */
  transition: height 0.3s ease, opacity 0.2s linear 0.1s;
}

.demo-sliding-height-shrinking {
  /*
   * Transition the opacity for 0.3s
   * After 0.1s, transition height for 0.2s
   * After 0.3s, transition visibility for 0s
   */
  transition: opacity 0.3s ease, height 0.2s linear 0.1s, visibility 0s linear 0.3s;
}

.demo-sliding-width-growing {
  transition: width 0.3s ease, opacity 0.3s
}

.demo-sliding-width-shrinking {
  transition: opacity 0.3s ease, width 0.3s, visibility 0s linear 0.3s;
}