.example1 {
	font-weight: bold;
	font-size: 14px
}

.example2 {
	font-weight: bold;
	font-size: 12px;
	color: #FF0000
}

tr.tablerow1 {
	background-color: #BBBBBB;
}

p.red {color:red;}
strong.red {color: red;}
strong.red.italic {color: red; font-style: italic;}
