.tinymce-mobile-slider {
  display: flex;
  flex: 1;
  position: relative;
  height: 1em;
  margin-left: 10%;
  margin-right: 10%;
}

.tinymce-mobile-toolbar-button-small-font:before {
  content: "\e906";
  margin-left: 20px;
  margin-right: 20px;
}

.tinymce-mobile-toolbar-button-large-font:before {
  content: "\e907";
  margin-right: 20px;
  margin-left: 20px;
}


.tinymce-mobile-slider {
  margin-left: 0px;
  margin-right: 0px;

  .tinymce-mobile-slider-font-size-container {
    display: flex;
    flex-grow: 1;
    height: 100%;
    align-items: center;
    

    .tinymce-mobile-slider-font-size {
      display: flex;
      flex: 1;
      margin-top: 0.3em;
      margin-bottom: 0.3em;
      background: gray;
      height: 0.4em;
    }

  }

  &.tinymce-mobile-hue-slider-container {
    padding-left: 0.5em;
    padding-right: 0.5em;

    .tinymce-mobile-slider-gradient-container {
      display: flex;
      flex-grow: 1;
      height: 100%;
      align-items: center;

      .tinymce-mobile-slider-gradient {
        display: flex;
        flex: 1;
        margin-top: 0.3em;
        margin-bottom: 0.3em;
        background: linear-gradient(to right, hsl(0, 100%, 50%) 0%, hsl(60, 100%, 50%) 17%, hsl(120, 100%, 50%) 33%, hsl(180, 100%, 50%) 50%, hsl(240, 100%, 50%) 67%, hsl(300, 100%, 50%) 83%, hsl(360, 100%, 50%) 100%);
        height: 0.4em;
      }
    }

    .tinymce-mobile-hue-slider-black {
      background: black;
      width: 1.2em;
      height: 0.4em;
      margin-top: 0.3em;
      margin-bottom: 0.3em;
    }

    .tinymce-mobile-hue-slider-white {
      background: white;
      width: 1.2em;
      height: 0.4em;
      margin-top: 0.3em;
      margin-bottom: 0.3em;
    }
  }

  .tinymce-mobile-slider-thumb {
    position: absolute;
    height: 0.8em;
    width: 1em;
    background: @toolstrip-thumb-background-color;
    left: -10px;

    /* vertically centering trick (margin: auto, top: 0, bottom: 0) */
    margin: auto;
    top: 0;
    bottom: 0;

    border: 0.1em solid black;
    border-radius: 3em;
  }
}
