//
// Global styling
//

@tinymce-container-padding: 0;

.tox-tinymce {
  border: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: @font-stack-base;
  overflow: hidden;
  padding: @tinymce-container-padding;
  visibility: inherit !important;
}

// styles for making statusbar appear above toolbars when making the editor height very small
.tox-editor-container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  overflow: hidden;
}

.tox-tinymce-aux {
  font-family: @font-stack-base;
}

// Reset focus states
.tox-tinymce *:focus,
.tox-tinymce-aux *:focus {
  outline: none;
}

.tox-silver-sink {
  z-index: @z-index-sink;
}
