.DS_Store
*~
*.iws
*.sublime-workspace
/lib
/dist
/scratch
/gen
/config/repl
/dependency
/config/bolt/bootstrap*.js
/inconsistent.dependencies
node_modules
/config/repl
/*.log
ephox-katamari-*.tgz

package-lock.json

jenkins-plumbing
yarn.lock
yarn-error.log