/* MenuButton */

div.@{prefix}-menubtn.@{prefix}-opened {
  border-bottom-color: @btn-bg;
  z-index: 65537;
}

.@{prefix}-menubtn button {
  color: @btn-text;
}

.@{prefix}-menubtn.@{prefix}-btn-small span {
  font-size: @font-size - 2px;
}

.@{prefix}-menubtn.@{prefix}-fixed-width span {
  display: inline-block;
  overflow-x: hidden;
  text-overflow: ellipsis;
  width: 90px;
}

.@{prefix}-menubtn.@{prefix}-fixed-width.@{prefix}-btn-small span {
  width: 70px;
}

.@{prefix}-menubtn .@{prefix}-caret {
  *margin-top: 6px;
}

// RTL

.@{prefix}-rtl {
  .@{prefix}-menubtn button {
    direction: rtl;
    text-align: right;
  }

  .@{prefix}-menubtn.@{prefix}-fixed-width span {
    direction: rtl;
    text-align: right;
  }
}


