//
// Place your HTML here
//

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.4;
  margin: 1rem auto;
  max-width: 900px;
}

table {
  border-collapse: collapse;
}

/* Apply a default padding if legacy cellpadding attribute is missing */
table:not([cellpadding]) th,
table:not([cellpadding]) td {
  padding: .4rem;
}

/* Set default table styles if a table has a positive border attribute
   and no inline css */
table[border]:where(:not([border="0"]):not([style*="border-width"])) th,
table[border]:where(:not([border="0"]):not([style*="border-width"])) td {
  border-width: 1px;
}

/* Set default table styles if a table has a positive border attribute
   and no inline css */
table[border]:where(:not([border="0"]):not([style*="border-style"])) th,
table[border]:where(:not([border="0"]):not([style*="border-style"])) td {
  border-style: solid;
}

/* Set default table styles if a table has a positive border attribute
   and no inline css */
table[border]:where(:not([border="0"]):not([style*="border-color"])) th,
table[border]:where(:not([border="0"]):not([style*="border-color"])) td {
  border-color: #ccc;
}

/* Set default table styles if a table has a positive border attribute
   and no inline css */
table[border]:where([style*="border-style: dashed"]) td,
table[border]:where([style*="border-style: dashed"]) th,
table[border]:where([style*=" dashed "]) td,
table[border]:where([style*=" dashed "]) th {
   border-style: dashed;
}

/* Set default table styles if a table has a positive border attribute
   and no inline css */
table[border]:where([style*="border-style: none"]) td,
table[border]:where([style*="border-style: none"]) th,
table[border]:where([style*=" none "]) td,
table[border]:where([style*=" none "]) th {
   border-style: none;
}

/* Set default table styles if a table has a positive border attribute
   and no inline css */
table[border]:where([style*="border-style: solid"]) td,
table[border]:where([style*="border-style: solid"]) th,
table[border]:where([style*=" solid "]) td,
table[border]:where([style*=" solid "]) th {
   border-style: solid;
}

/* Set default table styles if a table has a positive border attribute
   and no inline css */
table[border]:where([style*="border-style: dotted"]) td,
table[border]:where([style*="border-style: dotted"]) th,
table[border]:where([style*=" dotted "]) td,
table[border]:where([style*=" dotted "]) th {
   border-style: dotted;
}

/* Set default table styles if a table has a positive border attribute
   and no inline css */
table[border]:where([style*="border-style: double"]) td,
table[border]:where([style*="border-style: double"]) th,
table[border]:where([style*=" double "]) td,
table[border]:where([style*=" double "]) th {
   border-style: double;
}

/* Set default table styles if a table has a positive border attribute
   and no inline css */
table[border]:where([style*="border-style: groove"]) td,
table[border]:where([style*="border-style: groove"]) th,
table[border]:where([style*=" groove "]) td,
table[border]:where([style*=" groove "]) th {
   border-style: groove;
}

/* Set default table styles if a table has a positive border attribute
   and no inline css */
table[border]:where([style*="border-style: ridge"]) td,
table[border]:where([style*="border-style: ridge"]) th,
table[border]:where([style*=" ridge "]) td,
table[border]:where([style*=" ridge "]) th {
   border-style: ridge;
}

/* Set default table styles if a table has a positive border attribute
   and no inline css */
table[border]:where([style*="border-style: inset"]) td,
table[border]:where([style*="border-style: inset"]) th,
table[border]:where([style*=" inset "]) td,
table[border]:where([style*=" inset "]) th {
   border-style: inset;
}

/* Set default table styles if a table has a positive border attribute
   and no inline css */
table[border]:where([style*="border-style: outset"]) td,
table[border]:where([style*="border-style: outset"]) th,
table[border]:where([style*=" outset "]) td,
table[border]:where([style*=" outset "]) th {
   border-style: outset;
}

/* Set default table styles if a table has a positive border attribute
   and no inline css */
table[border]:where([style*="border-style: hidden"]) td,
table[border]:where([style*="border-style: hidden"]) th,
table[border]:where([style*=" hidden "]) td,
table[border]:where([style*=" hidden "]) th {
   border-style: hidden;
}

figure {
  display: table;
  margin: 1rem auto;
}

figure figcaption {
  color: #999;
  display: block;
  margin-top: .25rem;
  text-align: center;
}

hr {
  border-color: #ccc;
  border-style: solid;
  border-width: 1px 0 0 0;
}

code {
  background-color: #e8e8e8;
  border-radius: 3px;
  padding: .1rem .2rem;
}

.mce-content-body:not([dir=rtl]) {
  blockquote {
    border-left: 2px solid #ccc;
    margin-left: 1.5rem;
    padding-left: 1rem;
  }
}

// RTL
.mce-content-body[dir=rtl] {
  blockquote {
    border-right: 2px solid #ccc;
    margin-right: 1.5rem;
    padding-right: 1rem;
  }
}
