//
// List
//

li {
  & when (@content-ui-darkmode = true) {
    color: @color-white
  }

  & when (@content-ui-darkmode = false) {
    color: @color-black
  }
  background-color: transparent;
  font-style: normal;
  font-weight: normal;
  font-family:  @font-stack;
}
