@tinymceai-dim-overlay-color: @diff-preview-dim-overlay-color;

.tox {
  .tox-ai__preview-overlay {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    font-size: @font-size-sm;

    &--hidden {
      visibility: hidden;
    }

    &--pass-through {
      pointer-events: none;
    }

    &--dim {
      background: @tinymceai-dim-overlay-color;
    }

    &--centered {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &--clipped {
      overflow: clip;
    }
  }
}
