body, html {
	overflow: hidden;
	background-color: #DFE8F6;
}

#doc3 {
	margin: 0;

	/* Fix for scrolling issue on Gecko */
	position: fixed; width: 100%; top: 0; left: 0;
}

#bd, #bd, #yui-main, #detailsView, #classView {
	height: 100%;
}

#hd {
	background: #1E4176;
	border-bottom: 1px solid #99BBE8;
}

#hd h1 {
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size: 16px;
	padding: 4px 0 4px 8px;
	color: #fff;
}

#yui-main #detailsView {
	overflow: auto;
	margin: 4px;
	margin-left: 260px;
	border: 1px solid #99BBE8;
	background: #FFF;
}

#bd #classView {
	overflow: auto;
	width: 250px;
	margin: 4px;
	border: 1px solid #99BBE8;
	background: #FFF;
}

.classDetailsContent, .memberDetailsContent {
	margin: 10px;
	line-height: 150%;
}

body, td, th {
	font-family: "Trebuchet MS", "Bitstream Vera Sans", Tahoma,Verdana,Arial,Helvetica,sans-serif;
	font-size: 13px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Trebuchet MS", "Bitstream Vera Sans", verdana, lucida, arial, helvetica, sans-serif;
	font-weight: bold;
	letter-spacing: 1px;
	margin-bottom: 3px;
	margin-top: 3px;
	width: 90%;
}

h1 {
	font-size: 20px;
}

h2 {
	font-size: 16px;
}

h3 {
	font-size: 16px;
}

h4 {
	font-size: 13px;
}

a, a:visited, a:active, a:link {
	color: #0000CC;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

table.summary {
	border: 1px solid #999999;
	margin-bottom: 20px;
	margin-right: 10px;
	margin-top: 10px;
	width: 100%;
	border-collapse: collapse;
}

table.summary th {
	font-weight: bold;
	text-align: left;
	vertical-align: bottom;
	background-color: #627C9D;
	color: #FFFFFF;
	white-space: nowrap;
	padding: 4px;
}

table.summary td {
	border: 1px solid #999999;
	padding: 4px;
}

table.summary a.memberName {
	font-weight: bold;
}

table.summary tr.even {
	background: #f2f2f2;
}

table.summary td.first div {
	margin-left: 30px;
}

table.summary td.first {
	width: 95%;
}

table.summary td.last {
	width: 5%;
}

table.summary .deprecated {
	margin: 0;
}

.params, .returns, .see {
	margin-left: 20px;
	margin-bottom: 10px;
}

.params td.last {
	padding-left: 10px;
}

.classDescription, .memberDescription, .deprecated {
	margin: 10px 0 10px 0;
}

.inherited td.first {
	background: url(../img/inherited.gif) no-repeat 10px 5px;
}

.inheritageList span {
	padding-right: 20px;
	margin-right: 5px;
	background: url(../img/inherit-arrow.gif) no-repeat center right;
}

.inheritageList span.last {
	background: transparent;
}

.classDetails .first {
	font-weight: bold;
	padding-right: 20px;
}

.memberDetails {
	margin-bottom: 10px;
}

pre {
	background-color: #F2F2F2;
	font-family: "Lucida Console","Courier New",Courier,monospace;
	font-size: 12px;
	margin-bottom: 10px;
	margin-top: 10px;
	overflow: auto;
	padding: 5px 5px 5px 5px;
}

.memberType {
	padding-left: 10px;
	font-size: 13px;
	font-weight: normal;
}

.selected {
	font-weight: bold;
}

.memberDetails {
	border-bottom: 1px solid gray;
	margin-bottom: 10px;
}

.details {
	padding-bottom: 10px;
}

.details .last {
	border: 0;
}

.details h2 {
	width: 100%;
	background-color: #627C9D;
	color: #FFF;
	padding: 4px;
}

.memberDetails {
	padding-left: 15px;
}

code.syntax {
	background-color: #F2F2F2;
}

.deprecated {
	font-weight: bold;
}

.static {
	color: gray;
}

.version span, .author span {
	font-weight: bold;
}

#yui-main #detailsView.loading {
	background: #FFF url('../img/loader.gif') no-repeat center center; 
}
