.keyboard-focus-outline-mixin(@_inset: ~'') {
  border-radius: @toolbar-button-border-radius;
  bottom: 0;
  box-shadow: 0 0 0 @keyboard-focus-outline-width @keyboard-focus-outline-color @_inset;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;

  @media (forced-colors: active) {
    border: 2px solid highlight;
  }
}