//
// Tiny Comment
//

@comment-background-color: contrast(@background-color, @background-color, lighten(@background-color, 5%));
@comment-border-radius: @panel-border-radius;
@comment-border: 1px solid @border-color;
@comment-box-shadow: 0 4px 8px 0 fade(@color-black, 10%); //TODO: Same as menu. Make a common helper variable?
@comment-font-size: @font-size-sm;
@comment-font-style: normal;
@comment-font-weight: @font-weight-normal;
@comment-line-height: @line-height-base;
@comment-padding: @pad-sm @pad-sm @pad-md @pad-sm;
@comment-text-color: @text-color;
@comment-text-transform: initial;

.tox {
  .tox-comment-thread {
    //

    > *:not(:first-child) {
      margin-top: @pad-sm;
    }
  }

  // An individual comment
  .tox-comment {
    background: @comment-background-color;
    border: @comment-border;
    border-radius: @comment-border-radius;
    box-shadow: @comment-box-shadow;
    padding: @comment-padding;
  }

  .tox-comment__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .tox-comment__timestamp {
    font-size: @font-size-xs;
    color: @text-color-muted;
  }

  .tox-comment__body {
    color: @comment-text-color;
    font-size: @comment-font-size;
    font-style: @comment-font-style;
    font-weight: @comment-font-weight;
    line-height: @comment-line-height;
    margin-top: @pad-sm;
    text-transform: @comment-text-transform;
  }

  .tox-comment__body p {
    margin: 0;
  }

  .tox-comment--gradient::after{
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #fff 100%);
    content: '';
    display: block;
    height: 40px;
    position: relative;
    margin-top: -40px;
    width: 100%;
  }

  // Write new comment block
  .tox-comment__reply {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    > *:first-child {
      margin-bottom: @pad-sm;
      width: 100%;
    }

    > *:last-child {
      margin-left: @pad-sm;
    }
  }

  .tox-comment__edit {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-left: @pad-sm;
    margin-top: @pad-md;

    > *:last-child {
      margin-left: @pad-sm;
    }
  }


}

.tox-comment--overlay {
  z-index: 2;
  opacity:0.2;
  background:#ffffff;
  width: 200px;
  height: 200px;
}

.tox-comment--overlaytext {
  position: absolute;
  z-index: 3;
  margin-top: -100px;
}