//
// Search and replace
//

.mce-match-marker {
  background: #aaa;
  color: #fff;
}

.mce-match-marker-selected {
  &::selection {
    background: #39f;
    color: #fff;
  }

  background: #39f;
  color: #fff;
}
