
            
            #Using jsunit.properties is one way to specify the various properties used by the JsUnitServer.
            #It is deprecated in favor of using ant build files. See build.xml.
            #To use this file, rename it to "jsunit.properties". You need to provide values for the mandatory properties.
            #See the documentation at http://www.jsunit.net for more information.
            
        
            #closeBrowsersAfterTestRuns determines whether to attempt to close browsers after test runs. This is not a mandatory property. The default is true. For example: 'true'
            closeBrowsersAfterTestRuns=
            
            #description is a human-readable description of a standard or aggregate server. This is not a mandatory property. The default is blank. For example: 'This is our Mac - it's only running Safari right now'
            description=
            
            #ignoreUnresponsiveRemoteMachines is a property used only by the JsUnit Aggregate Server and the distributed_test target. Its value is whether to ignore a remote machine that does not respond.  If true, test runs will be green even if one or more remote machines fail to respond; if false, an unresponsive remote machine results in a failure.  This is not a mandatory property.  Its default is false. For example: 'true'
            ignoreUnresponsiveRemoteMachines=
            
            #logsDirectory is the directory in which the JsUnitStandardServer stores the XML logs produced from tests run. It can be specified relative to the working directory. This is not a mandatory property. If not specified, the directory called 'logs' inside resourceBase is assumed. For example: 'c:\jsunit\java\logs'
            logsDirectory=
            
            #port is the port on which the JsUnitStandardServer runs. This is not a mandatory property. If not specified, 8080 is assumed. For exapmle: '8080'
            port=
            
            #remoteMachineURLs is a property used only by the JsUnit Aggregate Server and the distributed_test target. Its value is the list of URLs of remote machines to which a request to run tests will be sent. For example: 'http://machine1.company.com:8080,http://localhost:8080,http://192.168.1.200:9090'
            remoteMachineURLs=
            
            #resourceBase is the directory that the JsUnitStandardServer considers to be its document root. It can be specified relative to the working directory. This is not a mandatory property. If not specified, the working directory is assumed. For example: 'c:\jsunit'
            resourceBase=
            
            #timeoutSeconds is the number of seconds to wait before timing out a browser during a test run. This is not a mandatory property. If not specified, 60 is assumed. For example: '60'
            timeoutSeconds=
            
            #url is the URL (HTTP or file protocol) to open in the browser. For a JsUnit Server, this is a mandatory property for a test run if the server is not passed the 'url' parameter. For example: 'file:///c:/jsunit/testRunner.html?testPage=c:/jsunit/tests/jsUnitTestSuite.html'
            url=
            