//
// Toolbar number input
//

.tox {
  .tox-number-input {
    display: flex;

    :focus {
      border: 2px solid #2d6adf;
      border-radius: 3px;
    }
  }

  .tox-number-input > button {
    background: #f7f7f7;
    border-radius: 3px;
    height: 28px;
    text-align: center;
    width: 24px;
  }

  .tox-number-input > input {
    text-align: center;
    width: 75px;
  }
}
