//
// Toolbar number input
//

.tox {
  .tox-number-input {
    display: flex;

    > *:focus > {
      background: #d9edf7;
    }

    .tox-input-wrapper,
    input {
      display: flex;
      text-align: center;
      width: 75px;
    }

    button {
      background: #f7f7f7;
      border-radius: 3px;
      height: 28px;
      text-align: center;
      width: 24px;
    }
  }

  .tox-number-input:focus {
    * > {
      background: #d9edf7;
    }
  }
}
