//
// Toolbar label
//

@toolbar-label-spacing-x: 1px;
@toolbar-label-spacing-y: 5px;

.tox {
  .tox-label--context-toolbar {
    margin: (@toolbar-label-spacing-y + 1px) @toolbar-label-spacing-x @toolbar-label-spacing-y 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
            user-select: none;
  }
}