//
// Toolbar label
// When making changes here, please review menubar/menubar.less and menubar/menubar-button.less
//

@toolbar-button-background-color: @background-color;
@toolbar-button-border-radius: 3px;
@toolbar-button-border: 0;
@toolbar-button-box-shadow: none;
@toolbar-button-font-size: @font-size-sm;
@toolbar-button-font-style: normal;
@toolbar-button-font-weight: @font-weight-normal;
@toolbar-button-height: 28px;
@toolbar-button-icon-color: contrast(@background-color, @color-white, @color-black);
@toolbar-button-spacing-x: 1px;
@toolbar-button-spacing-y: 5px;
@toolbar-button-text-color: contrast(@background-color, @color-white, @color-black);
@toolbar-button-text-transform: none;
@toolbar-button-width: 34px;

.tox {
  .tox-label {
    align-items: center;
    background: @toolbar-button-background-color;
    border: @toolbar-button-border;
    border-radius: @toolbar-button-border-radius;
    box-shadow: @toolbar-button-box-shadow;
    color: @toolbar-button-text-color;
    display: flex;
    flex: 0 0 auto;
    font-size: @toolbar-button-font-size;
    font-style: @toolbar-button-font-style;
    font-weight: @toolbar-button-font-weight;
    height: @toolbar-button-height;
    justify-content: center;
    margin: (@toolbar-button-spacing-y + 1px) @toolbar-button-spacing-x @toolbar-button-spacing-y 0;
    outline: none;
    padding: 0;
    text-transform: @toolbar-button-text-transform;
    width: @toolbar-button-width;

    @media (forced-colors: active) {

      &:hover,
      &.tox-tbtn:hover {
        outline: 1px dashed currentColor;
      }

      &.tox-tbtn--active,
      &.tox-tbtn--enabled,
      &.tox-tbtn--enabled:hover,
      &.tox-tbtn--enabled:focus,
      &:focus:not(.tox-tbtn--disabled) {
        outline: 1px solid currentColor;
        position: relative;
      }
    }

    svg {
      display: block;
      fill: @toolbar-button-icon-color;

      @media (forced-colors: active) {
        & {
          fill: currentColor !important;
        }

        &.tox-tbtn--enabled,
        &:focus:not(.tox-tbtn--disabled) {
          fill: currentColor !important;
        }
      }
    }
  }
}