@import '../../../theme/theme';

//
// Place your variables here
//

@background-color: #222F3E;
@tinymce-separator-color: rgba(255,255,255,.15);

@editor-header-border: 1px solid @tinymce-separator-color;
@editor-header-box-shadow: none;
@editor-header-sticky-box-shadow: @editor-header-box-shadow;
@editor-bottom-header-box-shadow: @editor-header-box-shadow;
@editor-bottom-header-sticky-box-shadow: @editor-header-box-shadow;

@menu-border-color: @tinymce-separator-color;
@menu-box-shadow: none;

@insert-table-picker-border-color: @tinymce-separator-color;

@dialog-body-link-color: lighten(@color-tint, 25%);
@dialog-body-link-hover-color: lighten(@dialog-body-link-color, 20%);
@dialog-body-link-active-color: lighten(@dialog-body-link-color, 30%);
@dialog-body-link-focus-outline-color: @dialog-body-link-color;

.tox.tox-tinymce-aux .tox-toolbar__overflow {
  box-shadow: 0 0 0 1px @tinymce-separator-color;
}

@edit-area-border-color: #FFFFFF;
