bin
obj
tmp
dist
.settings
.idea
.project
.vscode
.nyc_output
*.sublime-*
.externalToolBuilders
**/bolt/bootstrap*.js
*~
*.diff
*.patch
*.bak
*.log
*.swp
yarn.lock
package-lock.json
.DS_Store
.project
coverage
node_modules
js/**/*
imagemanager
filemanager
mcmanager
powerpaste
tinymcespellchecker
a11ychecker
codemirror
mentions
*.min.js
*.dev.js
*.full.js
*.min.css
*.dev.less
**/dist
**/scratch
**/lib
**/dependency
**/instrumented_*
.rpt2_cache
tinymce-*.tgz
