{
  "env": {
    "browser": false,
    "amd": true
  },

  "globals": {
    "assert": true,
    "test": true,
    "asynctest": true
  },

  "rules": {
    "eqeqeq": "error",
    "space-before-function-paren": ["error", "always"],
    "yoda": "error",
    "func-style": ["error", "expression"]
  },

  "extends": "../../../../../.eslintrc"
}
