.tinymce-mobile-unfocused-selections .tinymce-mobile-unfocused-selection {
  position: absolute;
  display: inline-block;
  /* Note: this file is used inside the content, so isn't part of theming */
  background-color: green;
  opacity: 0.5;
}

body img {
  max-width: 98vw;
}

body table img {
  max-width: 95%;
}