/* Note, this file is imported inside .tinymce-mobile-context-toolbar, so that prefix is on everything here. */
.tinymce-mobile-toolbar-group {
  .mixin-flex-bar;
  flex: 1;
  padding-top: 0.4em;
  padding-bottom: 0.4em;

  input {
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    padding-left: 5px;
    font-size: 1em;

    background: @toolstrip-input-background-color;
    border: none;
    border-radius: 0px;
    color: @toolstrip-input-foreground-color;
  }
}