
@import "mask.css";
@import "icons.css";
@import "slider.css";
@import "inline-dialogs.css";
@import "android.css";


@toolstrip-background-color: #333;
@toolstrip-foreground-color: #eee;
@toolstrip-dark-background-color: green; /*black*/
@toolstrip-input-background-color: magenta; /*#5a5959*/
@toolstrip-input-foreground-color: yellow; /*white*/
@toolstrip-input-placeholder-foreground-color: blue; /*white*/
@toolstrip-button-selected-background-color: red; /*aaa*/

@font-face {
  font-family: 'tinymce-mobile';
  src: url('../icons/tinymce-mobile.woff?8x92w3') format('woff');
  font-weight: normal;
  font-style: normal;
}

@media (min-width: 700px) {
  body, body input {
    font-size: 25px;
  }
}

@media (max-width: 700x) {
  body, body input {
    font-size: 18px;
  }
}

.mixin-flex-bar {
  display: flex;
  align-items: center;
  height: 100%;
}

.tinymce-mobile-toolstrip {
  background:@toolstrip-background-color;
  display: flex;

  .tinymce-mobile-toolbar {
    display: flex;
    flex: 1;
    /* Make it no larger than the toolstrip, so that it needs to scroll */
    width: 100%;
    height: 2.5em;
    align-items: center;

    &:not(.tinymce-mobile-context-toolbar) {
      @import "main-toolbar.less";
    }

    &.tinymce-mobile-context-toolbar {
      @import "context-toolbar.less";
    }
  }
}

// .tinymce-mobile-toolbar-group > div {
//   .mixin-flex-bar;
//   flex: 1;
// }


input[type="file"]::-webkit-file-upload-button {
  display: none;
}