//
// Media Figure object
//

.mce-content-body {
  // Figure alignment
  figure.align-left {
    float: left;
  }

  figure.align-right {
    float: right;
  }

  figure.image.align-center {
    display: table;
    margin-left: auto;
    margin-right: auto;
  }
}
