//
// Default document styles
//

@document-background-color: #fff;
@document-font-size: @font-size-md;
@document-font-stack: @font-stack-base;
@document-line-height: @line-height-base;

body {
  background: @document-background-color;
  font-family: @document-font-stack;
  font-size: @document-font-size;
  line-height: @document-line-height;
}
