//
// Default document styles
//

@document-background-color: #fff;
@document-font-size: @font-size-md;
@document-text-color: @text-color;
@document-font-stack: @font-stack-base;
@document-line-height: @line-height-base;

body {
  background: @document-background-color;
  color: @document-text-color;
  font-family: @document-font-stack;
  font-size: @document-font-size;
  line-height: @document-line-height;
  scrollbar-3dlight-color: #f0f0ee;
  scrollbar-arrow-color: #676662;
  scrollbar-base-color: #f0f0ee;
  scrollbar-darkshadow-color: #ddd;
  scrollbar-face-color: #e0e0dd;
  scrollbar-highlight-color: #f0f0ee;
  scrollbar-shadow-color: #f0f0ee;
  scrollbar-track-color: #f5f5f5;
}
